<!-- ============== SECTION PAGETOP ============== -->
<section class="bg-primary py-5" id="hero">
  <div class="container">
    <h2 class="text-white">Men's wear</h2>
    <ol class="breadcrumb ondark mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </div> <!-- container //  -->
  </section>
  <!-- ============== SECTION PAGETOP END// ============== -->
  
  <!-- ============== SECTION CONTENT ============== -->
  <section class="padding-y">
  <div class="container ">
  
  <div class="row ">
    
    <aside class="col-lg-3 ">
  
  <button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse" data-bs-target="#aside_filter" id="show-filter">Show filter</button>
  
  <!-- ===== Card for sidebar filter ===== -->
  <div id="aside_filter" class="collapse card d-lg-block mb-5">
    <form [formGroup]="formFilter">
        <article class="filter-group">
      <header class="card-header">
        <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
        <i class="icon-control fa fa-chevron-down"></i>   Related items 
        </a>
      </header>
    
    <div class="collapse show" id="collapse_aside1">
      <div class="card-body">
      <ul class="list-menu">
        <li><a href="#">Electronics </a></li>
        <li><a href="#">Accessories  </a></li>
        <li><a href="#">Home items </a></li>
        <li><a href="#">Men's clothing </a></li>
        <li><a href="#">Interior items </a></li>
        <li><a href="#">Magazines </a></li>
        <li><a href="#">Category name </a></li>
        <li><a href="#">Home items </a></li>
      </ul>
      </div> <!-- card-body.// -->
    </div> <!-- collapse.// -->
    </article> <!-- filter-group // -->
    <article class="filter-group"> 
      <header class="card-header">
        <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
        <i class="icon-control fa fa-chevron-down"></i>   Clinicas 
      </a>
    </header>
   
      
      <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
      <div style="padding:1px 10px;margin-right:10px;right:2px;top:-2px">
        <img [src]="getItems[id].image" style="width: 18px; margin: 0 20px;" />
        <label style="color: #333;min-width: 130px;" [ngStyle]="{ 'color': getItems[id].isDisabled? 'lightgrey':''}">
          {{getItems[id].item_text}}
        </label>
      </div>
     </ng-template>
     <ng-template #optionSelectedTemplate let-option="option"  let-id="id">
       <div>
         <img [src]="getItems[id].image" style="width: 18px; margin-right: 2px;" />
        {{option}}
       </div>
     </ng-template>
    </article> <!-- filter-group // -->

    <article class="filter-group">
    <header class="card-header ">
      <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands">
      <i class="icon-control fa fa-chevron-down"></i>  Brands 
      </a>
    </header>
    <div class="collapse show" id="collapse_aside_brands">
      <div class="card-body">
        <label class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" checked>
        <span class="form-check-label"> Mercedes </span>
        <b class="badge rounded-pill bg-gray-dark float-end">120</b>
        </label> <!-- form-check end.// -->
  
        <label class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" checked>
        <span class="form-check-label"> Toyota </span>
        <b class="badge rounded-pill bg-gray-dark float-end">15</b>
        </label> <!-- form-check end.// -->
  
        <label class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" checked>
        <span class="form-check-label"> Mitsubishi </span>
        <b class="badge rounded-pill bg-gray-dark float-end">35</b>
        </label> <!-- form-check end.// -->
  
        <label class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" checked>
        <span class="form-check-label"> Nissan </span>
        <b class="badge rounded-pill bg-gray-dark float-end">89</b>
        </label> <!-- form-check end.// -->
  
        <label class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="">
        <span class="form-check-label"> Honda </span>
        <b class="badge rounded-pill bg-gray-dark float-end">30</b>
        </label> <!-- form-check end.// -->
  
        <label class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="">
        <span class="form-check-label"> Honda accord </span>
        <b class="badge rounded-pill bg-gray-dark float-end">30</b>
        </label> <!-- form-check end.// -->
      </div> <!-- card-body .// -->
    </div> <!-- collapse.// -->
    </article>
  
    <article class="filter-group">
    <header class="card-header">
      <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
      <i class="icon-control fa fa-chevron-down"></i>  Price 
      </a>
    </header>
    <div class="collapse show" id="collapse_aside2">
      <div class="card-body">
      <input type="range" class="form-range" min="0" max="100">
      <div class="row mb-3">
        <div class="col-6">
        <label for="min" class="form-label">Min</label>
        <input class="form-control" id="min" placeholder="$0" type="number">
        </div> <!-- col end.// -->
  
        <div class="col-6">
        <label for="max" class="form-label">Max</label>
        <input class="form-control" id="max" placeholder="$1,0000" type="number">
        </div> <!-- col end.// -->
      </div> <!-- row end.// -->
      <button class="btn btn-light w-100" type="button">Apply</button>
      </div> <!-- card-body.// -->
    </div> <!-- collapse.// -->
    </article> <!-- filter-group // -->
    <ng-multiselect-dropdown
    [placeholder]= "'Clínica de confianza'"
    [settings]= "clinicaSettings"
    [data]="dropdownClinica"
    [(ngModel)]="selectedClinica"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelect)="onItemDeSelect($event)"
    formControlName="buscaClinica">
   </ng-multiselect-dropdown>

  <article class="filter-group">
    <header class="card-header">
      <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside3">
      <i class="icon-control fa fa-chevron-down"></i>  Size 
      </a>
    </header>
    <div class="collapse show" id="collapse_aside3">
      <div class="card-body">
        <label class="checkbox-btn">
        <input type="checkbox">
        <span class="btn btn-light"> XS </span>
        </label>
  
        <label class="checkbox-btn">
        <input type="checkbox">
        <span class="btn btn-light"> SM </span>
        </label>
  
        <label class="checkbox-btn">
        <input type="checkbox">
        <span class="btn btn-light"> LG </span>
        </label>
  
        <label class="checkbox-btn">
        <input type="checkbox">
        <span class="btn btn-light"> XXL </span>
        </label>
      </div> <!-- card-body.// -->
    </div> <!-- collapse.// -->
    </article>  <!-- filter-group // -->
  

  </form>
  </div> <!-- card.// -->
  <!-- ===== Card for sidebar filter .// ===== -->
  
</aside> <!-- col .// -->
<main class="col-lg-9">
  <ng-container *ngIf="!(loading$ | async); else loadingTpl">
<header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
  <strong class="d-block py-2">32 Items found </strong>
  <div>
    <button type="button" class="btn" (click)="openModa('custom-modal-3')">Cotizar</button>
  </div>

 
  <div class="ms-auto ">
  <select [(ngModel)]="empresa" (click)="onEmpresaFilter()" >
                      <option>Empresa</option>
                      <option>SanCor Salud</option>
                      <option>OMINT</option>
                      <option>Galeno</option>
                      <option>Avalian</option>
                      <option>Swiss Medical</option>
                      <option>Premedic</option>
                      <option>Medife</option>
                    </select>
                  </div>
                  <div class="col-span-6">
                    <label>Ordenar por &nbsp;</label>
                    <select [(ngModel)]="SortbyParam" (click)="onSortDirection()">
                      <option value="empresa">Empresa</option>
                      <option value="precio">Precio</option>
                    </select>
                    <button type="button" (click)="onSortDirection()" >
                      <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down-alt fa-2x" style="size: 19px;"></i>
                      <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up-alt  fa-2x"></i>
                    </button>
                   </div> 
  <div class="ms-auto ">
    <select class="form-select d-inline-block w-auto me-1">
      <option value="0">Best match</option>
      <option value="1">Recommended</option>
      <option value="2">High rated</option>
      <option value="3">Randomly</option>
    </select> 
  
    
    <div class="btn-group" id="view">
      <button  [class.text-primary]="view === 'list'" (click)="view = 'list'; changeDisplay(1)"  type="button"  class="btn btn-secondary" data-bs-toggle="tooltip" title="List view"> 
        <i class="fa fa-bars"></i>
      </button>
      <button  [class.text-primary]="view === 'grid'" (click)="view = 'grid'; changeDisplay(2)" type="button"  type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Grid view"> 
        <i class="fa fa-th"></i>
      </button>
      </div>
     <!-- btn-group end.// -->
  </div>
</header>
    <!-- ========= content items ========= -->
    <!-- <div class="container">
      <div class="ul_checkbox">
      <ul>
        <li *ngFor="let checkboxarrays of checkboxArray">
          <input type="{{checkboxarrays.type}}" value="{{checkboxarrays.id}}" (change)="onChange($event)">{{checkboxarrays.price}}
        </li>
      </ul>
    </div>
<div class="ul_product">
  <ul>
    <li *ngFor="let productArrays of productArray">
      {{productArrays.price}}
    </li>
  </ul>
</div>

    </div> -->
        
    <ng-container *ngIf="!(loading$ | async); else loadingTpl">
      <div class="row">
      <div *ngIf="isLoaded" > 
        <div *ngFor="let product of products | filter: SearchEmpresa:'empresa' | sort: [SortbyParam, SortDirection] | filter: SearchClinica:'validacionclinica'">
        <app-product-filter *ngIf="display === 1;else list_content" [product]="product"></app-product-filter>
        </div>    
      </div>   

      <div>
  
        <div *ngFor="let product of products | filter: SearchEmpresa:'empresa' | sort: [SortbyParam, SortDirection] | filter: SearchClinica:'validacionclinica'"
           #list_content>
          <app-product-card   [product]="product"></app-product-card>
        </div>
      </div>
      
    
        
      </div>           
      </ng-container>          
              
     
  
    <!--Spinner-->
    <ng-template #loadingTpl>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ng-template>
  
 
   


      <hr>

      <footer class="d-flex mt-4">
              
        <nav class="ms-3">
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>
        </footer>

      


      </ng-container>
        </main>
        </div> 
 
  
    </div>
    


         <!--Spinner-->
    <ng-template #loadingTpl>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ng-template>

        <jw-modal id='custom-modal-2' >
          <div id="printable">
              <p >Clínicas, Sanatorios y Hospitales Privados</p>
        
        <app-compara class="child"  [productos]='compareProdList()' [items]='compareProdClinicas(compareProdList())'>
        </app-compara>
      </div>
      
        <div class="modal-footer" id="modal-footer">
          <button href="" type="button" class="btn btn-outline-primary btn-sm mt-2" (click)="onPrint()">
            Imprimir Listado
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm mt-2"
            (click)="closeModal('custom-modal-2')"
          >Cerrar
          </button>
        </div>
        </jw-modal>
      
      
          <app-compara-item ></app-compara-item>
          <app-compara-select></app-compara-select>
          <ng-container *ngIf='compareProdList().length >= 1 show' >
            <div id="mybutton" >
                <h5>Comparalos</h5>
              <button class="feedback" mat-raised-button color="primary"
              matBadge={{compareLength}} matBadgePosition="after" matBadgeColor="accent" (click)="openModal('custom-modal-2')">
              <app-compara-select [comparar]='compareProdList()' ></app-compara-select>
            </button>
              </div>
            </ng-container>


            <jw-modal id='custom-modal-3' >
              <app-cotizar-form>  <button type="button" class="btn" (click)="closeModa('custom-modal-3')">Cerrar</button>
              </app-cotizar-form>
              </jw-modal>
              