<ll-product-hero id="hero"></ll-product-hero>
<section class="padding" id="main">
    <div class="card-top container-fluid" id="image-filter">
    <div class="container d-flex" id="image-filter-flex">
        <div class="item">
            <a (click)="removeFilter('rating')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>Todos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filterRating(1)">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Basico</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filterRating(2 )">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6>Intermedio</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filterRating(3 )">
                <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
                <h6>Superior</h6>
            </a>
        </div>
    </div>
</div>
 <h1 id="encabezado" class="grey-text flex align-center">
      <i class="large material-icons"></i>
      Products-filters 
    </h1>bucle
  
    <jw-modal id='custom-modal-3' >
    <app-cotizar-form>  <button type="button" class="btn" (click)="closeModa('custom-modal-3')">Cerrar</button>
    </app-cotizar-form>
    </jw-modal>
 
        <!-- ===== Card for sidebar filter ===== -->
  <div id="aside_filter" class="collapse card d-lg-block mb-5">
    <ng-container *ngIf="!(loading$ | async); else loadingTpl">
        <article class="filter-group">
          <header class="card-header">
            <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
            <i class="icon-control fa fa-chevron-down"></i>   Related items 
            </a>
          </header>
          <div class="collapse show" id="collapse_aside1">
            <div class="card-body">
            <ul class="list-menu">
              <li><a href="#">Electronics </a></li>
              <li><a href="#">Accessories  </a></li>
              <li><a href="#">Home items </a></li>
              <li><a href="#">Men's clothing </a></li>
              <li><a href="#">Interior items </a></li>
              <li><a href="#">Magazines </a></li>
              <li><a href="#">Category name </a></li>
              <li><a href="#">Home items </a></li>
            </ul>
            </div> <!-- card-body.// -->
          </div> <!-- collapse.// -->
          </article> <!-- filter-group // -->
        <article class="filter-group">
          <header class="card-header">
            <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands">
            <i class="icon-control fa fa-chevron-down"></i>  Brands 
            </a>
          </header>
          <div class="collapse show" id="collapse_aside_brands">
            <div class="card-body">
              <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-label"> Mercedes </span>
              <b class="badge rounded-pill bg-gray-dark float-end">120</b>
              </label> <!-- form-check end.// -->
        
              <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-label"> Toyota </span>
              <b class="badge rounded-pill bg-gray-dark float-end">15</b>
              </label> <!-- form-check end.// -->
        
              <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-label"> Mitsubishi </span>
              <b class="badge rounded-pill bg-gray-dark float-end">35</b>
              </label> <!-- form-check end.// -->
        
              <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-label"> Nissan </span>
              <b class="badge rounded-pill bg-gray-dark float-end">89</b>
              </label> <!-- form-check end.// -->
        
              <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label"> Honda </span>
              <b class="badge rounded-pill bg-gray-dark float-end">30</b>
              </label> <!-- form-check end.// -->
        
              <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label"> Honda accord </span>
              <b class="badge rounded-pill bg-gray-dark float-end">30</b>
              </label> <!-- form-check end.// -->
            </div> <!-- card-body .// -->
          </div> <!-- collapse.// -->
          </article>
 <article class="filter-group">
    <header class="card-header">
      <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
      <i class="icon-control fa fa-chevron-down"></i>  Price 
      </a>
    </header>
    <div class="collapse show" id="collapse_aside2">
      <div class="card-body">
      <input type="range" class="form-range" min="0" max="100">
      <div class="row mb-3">
        <div class="col-6">
        <label for="min" class="form-label">Min</label>
        <input class="form-control" id="min" placeholder="$0" type="number">
        </div> <!-- col end.// -->
  
        <div class="col-6">
        <label for="max" class="form-label">Max</label>
        <input class="form-control" id="max" placeholder="$1,0000" type="number">
        </div> <!-- col end.// -->
      </div> <!-- row end.// -->
      <button class="btn btn-light w-100" type="button">Apply</button>
      </div> <!-- card-body.// -->
    </div> <!-- collapse.// -->
    </article> <!-- filter-group // -->
        <article class="filter-group">
          <header class="card-header">
            <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside3">
            <i class="icon-control fa fa-chevron-down"></i>  Size 
            </a>
          </header>
        <div class="collapse show" id="collapse_aside3">
          <div class="card-body">
            <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> XS </span>
            </label>
      
            <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> SM </span>
            </label>
      
            <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> LG </span>
            </label>
      
            <label class="checkbox-btn">
            <input type="checkbox">
            <span class="btn btn-light"> XXL </span>
            </label>
          </div> <!-- card-body.// -->
        </div> <!-- collapse.// -->
    </article>  <!-- filter-group // -->
      <div class="row" id="bucle">
      <!--Products List-->
      
      <div class="grid grid-cols-12 gap-6 xxl:gap-8 flex" *ngIf="isLoaded">
        <div 
          *ngFor="let product of products | filter: SearchEmpresa:'empresa' | sort: [SortbyParam, SortDirection]"
          class="col-span-12 md:col-span-6 xl:col-span-4 flex" >
          <app-product-card  *ngIf="view === 'grid'" [product]="product"></app-product-card>
        </div>
      </div>
  
        <div  class="col-span-6 md:col-span-12 xl:col-span-12" >
          <div *ngFor="let product of products | filter: SearchEmpresa:'empresa' | sort: [SortbyParam, SortDirection]">
          <app-product-filter *ngIf="view === 'list'" [product]="product"></app-product-filter>
          </div>    
        </div> 
        <!-- <app-product-filter  *ngFor='let product of products' [product]=product class="col-span-12 md:col-span-4 xl:col-span-4" 
        
        >
        </app-product-filter> -->
        
                 
              
              
      </div>
  
    <!--Spinner-->
    <ng-template #loadingTpl>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ng-template>
  
 
  <jw-modal id='custom-modal-2' >
    <div id="printable">
        <p >Clínicas, Sanatorios y Hospitales Privados</p>
  
  <app-compara class="child"  [productos]='compareProdList()' [items]='compareProdClinicas(compareProdList())'>
  </app-compara>
</div>

  <div class="modal-footer" id="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-sm mt-2" (click)="onPrint()">
      Imprimir Listado
    </button>
    <button
      type="button"
      class="btn btn-outline-primary btn-sm mt-2"
      (click)="closeModal('custom-modal-2')"
    >Cerrar
    </button>
  </div>
  </jw-modal>


    <app-compara-item ></app-compara-item>
    <app-compara-select></app-compara-select>
    <ng-container *ngIf='compareProdList().length >= 1 show' >
      <div id="mybutton" >
          <h5>Comparalos</h5>
        <button class="feedback" mat-raised-button color="primary"
        matBadge={{compareLength}} matBadgePosition="after" matBadgeColor="accent" (click)="openModal('custom-modal-2')">
        <app-compara-select [comparar]='compareProdList()' ></app-compara-select>
      </button>
        </div>
      </ng-container>
   