
       
<div class="form-cotacao">
    <p class="chamada-desktop">Descubra o preço<br>do seu<br><span>Plano de Saúde</span></p>
<p class="chamada-mobile">Descubra o preço do seu <span>Plano de Saúde</span></p>


<form id="centro_banner_form" name="centro_banner_form" action="https://www.planodesaude.net/simular/"  class="custom" method="get" target="_blank">


<div class="group-radio">
<div class="radio2">
<label for="centro_banner_dropdown1" class="vemm-event-go-to-form">
<input id="centro_banner_dropdown1" type="radio" name="type" value="Individual" class="radio" onclick="this.form.submit()"> Individual</label>
</div>
<div class="radio2">
<label for="centro_banner_dropdown2" class="vemm-event-go-to-form">    
<input id="centro_banner_dropdown2" type="radio" name="type" value="Familiar" class="radio" onclick="this.form.submit()"> Familiar</label>
</div>
<div class="radio2">  
<label for="centro_banner_dropdown3" class="vemm-event-go-to-form"> 
<input id="centro_banner_dropdown3" type="radio" name="type" value="Empresarial" class="radio" onclick="this.form.submit()"> Empresarial</label> 
</div>
</div>


<input name="centro_utm_source" value="" id="centro_utm_source" class="centro_utm_source" type="hidden"> 
<input name="centro_utm_medium" value="" id="centro_utm_medium" class="centro_utm_medium" type="hidden"> 
<input name="centro_utm_campaign" value="" id="centro_utm_campaign" class="centro_utm_campaign" type="hidden"> 
<input name="centro_referrer" value="" id="centro_referrer" class="centro_referrer" type="hidden">
<input name="centro_landing_page_url" value="" id="centro_landing_page_url" class="centro_landing_page_url" type="hidden"> 
<input name="centro_session_landing_page_url" value="" id="centro_session_landing_page_url" class="centro_session_landing_page_url" type="hidden">
<input type="hidden" name="aff_id" value="1353" id="aff_id" class="aff_id">
<div class="fs-button">
<input class="button radius red vemm-event-go-to-form" value="Simular" target="_blank" type="submit" >

</div>

</form>		
</div>

            
            

                    
    
      
                
              