@charset "UTF-8";
@font-face {
  font-family:Poppins;
  font-style:normal;
  font-weight:400;
  src:local("Poppins Regular"),
  local("Poppins-Regular"),
  url(https://cdn.queplan.cl/shared/fonts/PoppinsRegular.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Poppins;
  font-style:normal;
  font-weight:500;
  src:local("Poppins Medium"),
  local("Poppins-Medium"),
  url(https://cdn.queplan.cl/shared/fonts/PoppinsMedium.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Poppins;
  font-style:normal;
  font-weight:600;
  src:local("Poppins SemiBold"),
  local("Poppins-SemiBold"),
  url(https://cdn.queplan.cl/shared/fonts/PoppinsSemiBold.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Poppins;
  font-style:normal;
  font-weight:700;
  src:local("Poppins Bold"),
  local("Poppins-Bold"),
  url(https://cdn.queplan.cl/shared/fonts/PoppinsBold.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:300;
  src:local("Inter light"),
  local("Inter-light"),
  url(https://cdn.queplan.cl/shared/fonts/InterLight.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:400;
  src:local("Inter Regular"),
  local("Inter-Regular"),
  url(https://cdn.queplan.cl/shared/fonts/InterRegular.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:500;
  src:local("Inter Medium"),
  local("Inter-Medium"),
  url(https://cdn.queplan.cl/shared/fonts/InterMedium.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:700;
  src:local("Inter Bold"),
  local("Inter-Bold"),
  url(https://cdn.queplan.cl/shared/fonts/InterBold.woff2) format("woff2");
  unicode-range:U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
  font-display:swap
}
@media only screen and (max-width: 992px) {
  qp-suspense-spinner,
  app-contacto,
  app-compare,
  app-planes,
  app-home,
  qp-blog,
  qp-dynamic-landing,
  qp-not-found,
  qp-paid-media,
  ih-home-landings {
    margin-top:75px!important;
    display:block
  }
}
.mat-option.mat-active {
  border-left:4px solid var(--color-primary, #40B4E5)
}
@media only screen and (min-width: 992px) {
  .mat-option-text,
  .mat-mdc-option,
  .mat-mdc-form-field,
  .mat-mdc-floating-label,
  .mat-mdc-select-value,
  .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above,
  .btn,
  .mat-radio-label-content {
    font-size:.875rem
  }
}
.mat-mdc-select-value,
.mat-mdc-radio-button .mdc-form-field {
  color:var(--color-text, #1d1d1f)
}
.mat-input-element {
  box-sizing:border-box!important
}
.mat-select-panel {
  padding:10px 12px!important;
  border-radius:8px
}
.mat-tab-group,
.mat-form-field,
.mat-select,
.mat-radio-label-content,
.mat-option-text {
  font-family:Inter
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color:var(--color-secondary, #808080)
}
.spinner-gif[_ngcontent-dcc-c119] {
  width:100vw!important
}
@media (min-width: 576px) {
  .spinner-gif[_ngcontent-dcc-c119] {
    width:75vw!important
  }
}
@media (min-width: 992px) {
  .spinner-gif[_ngcontent-dcc-c119] {
    width:63vw!important
  }
}
@media (min-width: 1200px) {
  .spinner-gif[_ngcontent-dcc-c119] {
    width:54vw!important
  }
}
.d-center[_ngcontent-dcc-c119] {
  display:flex;
  justify-content:center;
  align-items:center
}
p[_ngcontent-dcc-c119],
.mat-select-value[_ngcontent-dcc-c119] {
  font-size:1rem;
  color:var(--color-text, #1d1d1f);
  line-height:1.5
}
@media only screen and (min-width: 992px) {
  p[_ngcontent-dcc-c119],
  .mat-select-value[_ngcontent-dcc-c119] {
    font-size:.875rem
  }
}
.alert-strong[_ngcontent-dcc-c119] {
  font-size:.75rem
}
.text-black[_ngcontent-dcc-c119] {
  color:var(--color-text, #1d1d1f)
}
.background-masker[_ngcontent-dcc-c119] {
  background-color:#fff;
  position:absolute
}
.btn-divide-left[_ngcontent-dcc-c119] {
  top:0;
  left:25%;
  height:100%;
  width:5%
}
@keyframes _ngcontent-dcc-c119_placeHolderShimmer {
  0% {
    background-position:-800px 0
  }
  to {
    background-position:800px 0
  }
}
.qp-title[_ngcontent-dcc-c119] {
  font-weight:500;
  margin-bottom:.5rem;
  font-size:1.75rem;
  color:var(--color-text, #1d1d1f)
}
.qp-title[_ngcontent-dcc-c119]   b[_ngcontent-dcc-c119] {
  font-weight:600;
  color:var(--color-primary, #40B4E5)
}
@media only screen and (min-width: 992px) {
  .qp-title[_ngcontent-dcc-c119] {
    font-size:1.875rem
  }
}
.qp-bg-title[_ngcontent-dcc-c119] {
  font-weight:500;
  margin-bottom:.5rem;
  font-size:1.75rem;
  color:var(--color-text, #1d1d1f)
}
.qp-bg-title[_ngcontent-dcc-c119]   b[_ngcontent-dcc-c119] {
  font-weight:600;
  color:var(--color-primary, #40B4E5)
}
@media only screen and (min-width: 992px) {
  .qp-bg-title[_ngcontent-dcc-c119] {
    font-size:1.875rem
  }
}
.qp-subtitle[_ngcontent-dcc-c119] {
  line-height:1.5;
  color:var(--color-text, #1d1d1f)
}
@media only screen and (min-width: 992px) {
  .qp-subtitle[_ngcontent-dcc-c119] {
    font-size:1rem
  }
}
.qp-subtitle-italic[_ngcontent-dcc-c119] {
  font-style:italic;
  line-height:1.5
}
@media only screen and (min-width: 992px) {
  .qp-subtitle-italic[_ngcontent-dcc-c119] {
    font-size:1rem
  }
}
.qp-btn-degraded[_ngcontent-dcc-c119] {
  padding:16px 36px;
  border:none;
  color:#fff;
  margin:0 auto;
  cursor:pointer;
  font-size:1rem;
  border-radius:4px;
  box-shadow:0 10px 20px #7c7c7c40;
  width:-moz-fit-content;
  width:fit-content;
  background:linear-gradient(267.23deg,#2b35ef .38%,var(--color-primary, #40B4E5) 51.67%);
  background-size:200% 100%;
  background-position:100% 0;
  transition:background-position .5s;
  display:inline-block;
  line-height:1.5
}
@media only screen and (min-width: 992px) {
  .qp-btn-degraded[_ngcontent-dcc-c119] {
    font-size:.875rem
  }
}
.qp-btn-degraded[_ngcontent-dcc-c119]   i[_ngcontent-dcc-c119] {
  font-size:2rem
}
.qp-btn-degraded[_ngcontent-dcc-c119]:hover {
  background-position:0 0;
  font-weight:400;
  color:#fff
}
@media only screen and (max-width: 700px) {
  .qp-btn-degraded[_ngcontent-dcc-c119] {
    width:90%
  }
}
.qp-btn-secondary[_ngcontent-dcc-c119] {
  color:#fff;
  cursor:pointer;
  transition:.3s;
  font-size:1rem;
  width:-moz-fit-content;
  width:fit-content;
  border-radius:4px;
  padding:16px 36px;
  border:1px solid white;
  display:inline-block
}
@media only screen and (min-width: 992px) {
  .qp-btn-secondary[_ngcontent-dcc-c119] {
    font-size:.875rem
  }
}
.qp-btn-secondary[_ngcontent-dcc-c119]:hover {
  color:#fff;
  background:rgba(255,255,255,.192)
}
.qp-section[_ngcontent-dcc-c119] {
  margin:4rem 0 0
}
.qp-box-shadow[_ngcontent-dcc-c119] {
  border-radius:10px;
  border:1px solid #ededed;
  box-shadow:0 15px 20px -15px #0000001a;
  -webkit-box-shadow:0px 15px 20px -15px rgba(0,0,0,.1);
  -moz-box-shadow:0px 15px 20px -15px rgba(0,0,0,.1)
}
.qp-box-hover-animation[_ngcontent-dcc-c119] {
  cursor:pointer;
  transition:.3s
}
.qp-box-hover-animation[_ngcontent-dcc-c119]:hover,
.qp-box-hover-animation.active[_ngcontent-dcc-c119] {
  background:#eff3ff;
  color:var(--color-third, #0E6FC5);
  box-shadow:0 5px 10px #afb6e54d
}
.btn-action[_ngcontent-dcc-c119] {
  display:flex!important;
  align-items:center;
  justify-content:center;
  font-weight:700;
  padding:5px 30px;
  border-radius:4px;
  line-height:1.3333333;
  min-width:200px
}
.btn-action[_ngcontent-dcc-c119]   .icon-arrow[_ngcontent-dcc-c119] {
  padding-right:12px;
  font-size:2rem
}
.footer-solicitud[_ngcontent-dcc-c119] {
  bottom:0;
  width:100%;
  padding:14px 0;
  position:sticky;
  z-index:999;
  background:white;
  margin-bottom:-20px;
  border-top:3px solid
}
.footer-solicitud[_ngcontent-dcc-c119]   .border-color[_ngcontent-dcc-c119] {
  border:none;
  border-top:5px solid
}
.footer-solicitud[_ngcontent-dcc-c119]   .btn-action[_ngcontent-dcc-c119] {
  padding-top:0;
  padding-bottom:0
}
.footer-solicitud[_ngcontent-dcc-c119]   .btn-action[_ngcontent-dcc-c119] > div[_ngcontent-dcc-c119] {
  flex-direction:row!important
}
.fade-in[_ngcontent-dcc-c119] {
  animation:_ngcontent-dcc-c119_fade-in .4s cubic-bezier(.39,.575,.565,1) both
}
@keyframes _ngcontent-dcc-c119_fade-in {
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}
.fade-in-right[_ngcontent-dcc-c119] {
  animation:_ngcontent-dcc-c119_fade-in-right .4s cubic-bezier(.39,.575,.565,1) both
}
@keyframes _ngcontent-dcc-c119_fade-in-right {
  0% {
    transform:translate(50px);
    opacity:0
  }
  to {
    transform:translate(0);
    opacity:1
  }
}
.fade-in-bottom[_ngcontent-dcc-c119] {
  animation:_ngcontent-dcc-c119_fade-in-bottom .4s cubic-bezier(.39,.575,.565,1) both
}
@keyframes _ngcontent-dcc-c119_fade-in-bottom {
  0% {
    transform:translateY(50px);
    opacity:0
  }
  to {
    transform:translateY(0);
    opacity:1
  }
}
.fade-in-left[_ngcontent-dcc-c119] {
  animation:_ngcontent-dcc-c119_fade-in-left .4s cubic-bezier(.39,.575,.565,1) both
}
@keyframes _ngcontent-dcc-c119_fade-in-left {
  0% {
    transform:translate(-50px);
    opacity:0
  }
  to {
    transform:translate(0);
    opacity:1
  }
}
.opacity-1[_ngcontent-dcc-c119],
.visible[_ngcontent-dcc-c119] {
  visibility:visible;
  opacity:1
}
.underline[_ngcontent-dcc-c119] {
  text-decoration:underline!important
}
.disabled-a[_ngcontent-dcc-c119] {
  pointer-events:none;
  opacity:.4
}
.mat-mdc-form-field-infix[_ngcontent-dcc-c119] {
  padding-bottom:16px!important
}
.custom-price[_ngcontent-dcc-c119] {
  display:flex;
  justify-content:center;
  align-items:center
}
@media only screen and (max-width: 768px) {
  .other-benefits-content[_ngcontent-dcc-c119] {
    flex-direction:column;
    align-items:center
  }
}
.text-contact[_ngcontent-dcc-c119]   p[_ngcontent-dcc-c119] {
  line-height:1.25rem;
  letter-spacing:.2px
}
.text-contact[_ngcontent-dcc-c119]   a[_ngcontent-dcc-c119] {
  font-weight:500
}
.text-contact[_ngcontent-dcc-c119]   ul[_ngcontent-dcc-c119] {
  padding-left:2rem
}
.text-contact[_ngcontent-dcc-c119]   ul[_ngcontent-dcc-c119]   li[_ngcontent-dcc-c119] {
  list-style:none;
  padding-bottom:.6rem
}
.text-contact[_ngcontent-dcc-c119]   ul[_ngcontent-dcc-c119]   li[_ngcontent-dcc-c119]:before {
  content:"\2022";
  color:var(--color-primary);
  font-weight:700;
  display:inline-block;
  width:1em;
  margin-left:-1em
}
.container-1140[_ngcontent-dcc-c119] {
  max-width:1140px;
  margin:0 auto
}
.f-14[_ngcontent-dcc-c119] {
  font-size:.875rem
}
.loader[_ngcontent-dcc-c119] {
  box-sizing:border-box;
  overflow:hidden;
  position:relative;
  background:#eff1f6 no-repeat;
  border-radius:4px;
  width:100%;
  height:.85rem;
  display:inline-block
}
.loader[_ngcontent-dcc-c119]:after,
.loader[_ngcontent-dcc-c119]:before {
  box-sizing:border-box
}
.loader.progress[_ngcontent-dcc-c119] {
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-name:_ngcontent-dcc-c119_placeHolderShimmer;
  animation-timing-function:linear;
  background-color:#eff1f6;
  background:linear-gradient(to right,#eeeeee 8%,#d9d9d9 18%,#eeeeee 33%);
  background-size:800px 104px;
  position:relative
}
.loader.bg-transparent[_ngcontent-dcc-c119] {
  animation:none;
  background:transparent!important
}
@keyframes _ngcontent-dcc-c119_progress {
  0% {
    background-position:-200px 0
  }
  to {
    background-position:calc(200px + 100%) 0
  }
}
