[_nghost-dcc-c367] {
  border:0;
  border-radius:0;
  margin-bottom:1rem;
  font-size:.9375rem;
  background-color:transparent
}
[_nghost-dcc-c367]   .card[_ngcontent-dcc-c367] {
  border-radius:5px;
  border:1px solid rgba(64,180,229,.4509803922)
}
.card-error[_nghost-dcc-c367]   .card-header[_ngcontent-dcc-c367] {
  margin-bottom:0;
  color:#fff!important;
  background-color:#dc3545!important
}
.card-error[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367] {
  color:#dc3545!important;
  font-weight:700!important;
  border:1px solid #dc3545!important
}
.card-error[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367]   .mat-tree-node[_ngcontent-dcc-c367] {
  color:#dc3545!important;
  font-weight:700!important
}
.card-warning[_nghost-dcc-c367]   .card-header[_ngcontent-dcc-c367] {
  margin-bottom:0;
  color:#856404!important;
  background-color:#ffdf7b!important
}
.card-warning[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367] {
  color:#856404!important;
  font-weight:700!important;
  border:1px solid #ffdf7b!important
}
.card-warning[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367]   .mat-tree-node[_ngcontent-dcc-c367] {
  color:#856404!important;
  font-weight:700!important
}
[_nghost-dcc-c367]   .card-header[_ngcontent-dcc-c367] {
  font-weight:500;
  background-color:#f5fafd;
  border-bottom:1px solid rgba(64,180,229,.4509803922);
  color:var(--color-primary, #40B4E5)
}
[_nghost-dcc-c367]   .card-header[_ngcontent-dcc-c367]   button[_ngcontent-dcc-c367] {
  padding:0
}
[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367] {
  padding:22px 14px
}
[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367]   .spinner[_ngcontent-dcc-c367] {
  margin:auto;
  width:70px;
  text-align:center;
  color:red
}
[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367]   .spinner[_ngcontent-dcc-c367] > div[_ngcontent-dcc-c367] {
  width:18px;
  height:18px;
  background-color:#575454;
  border-radius:100%;
  display:inline-block;
  animation:_ngcontent-dcc-c367_sk-bouncedelay 1.4s infinite ease-in-out both
}
[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367]   .spinner[_ngcontent-dcc-c367]   .bounce1[_ngcontent-dcc-c367] {
  animation-delay:-.32s
}
[_nghost-dcc-c367]   .card-body[_ngcontent-dcc-c367]   .spinner[_ngcontent-dcc-c367]   .bounce2[_ngcontent-dcc-c367] {
  animation-delay:-.16s
}
[_nghost-dcc-c367]     .container-filter:hover .button-filter,
[_nghost-dcc-c367]     .mat-tree-node:hover .button-filter,
[_nghost-dcc-c367]     mat-radio-button .badge-total:hover {
  visibility:visible
}
[_nghost-dcc-c367]     .button-filter {
  background:transparent;
  border:none;
  color:var(--color-primary, #40B4E5);
  position:absolute;
  visibility:hidden;
  font-size:.8375rem;
  background:white;
  line-height:24px;
  padding:0 5px 7px;
  right:12px!important
}
[_nghost-dcc-c367]     .badge-total {
  background:#f3f3f3;
  padding:0 5px;
  width:42px;
  border-radius:7px;
  color:var(--color-primary, #40B4E5);
  position:absolute;
  right:15px!important;
  line-height:24px;
  border:none;
  text-align:center
}
[_nghost-dcc-c367]     .badge-total:hover {
  visibility:hidden
}
@keyframes _ngcontent-dcc-c367_sk-bouncedelay {
  0%,
  80%,
  to {
    transform:scale(0)
  }
  40% {
    transform:scale(1)
  }
}
[_nghost-dcc-c367]     .mat-autocomplete-panel {
  width:100%!important
}
[_nghost-dcc-c367]     .cdk-overlay-pane {
  width:348px!important
}
[_nghost-dcc-c367]     .mat-option-text {
  line-height:21px;
  white-space:break-spaces
}
[_nghost-dcc-c367]     .btn-filter {
  padding:10px;
  margin:5px 0;
  transition:.2s;
  font-size:.875rem;
  background:none;
  border-radius:4px;
  color:var(--color-primary, #40B4E5);
  border:1px solid var(--color-primary, #40B4E5)
}
[_nghost-dcc-c367]     .btn-filter:hover {
  background:#f3f3f3
}
[_nghost-dcc-c367]     .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: var(--color-primary);
  --mdc-checkbox-selected-hover-icon-color: var(--color-primary);
  --mdc-checkbox-selected-icon-color: var(--color-primary);
  --mdc-checkbox-selected-pressed-icon-color: var(--color-primary)
}
[_nghost-dcc-c367]     .text-primary {
  color:var(--color-primary)!important
}
