/* incrementador.component.css */
/* Estilos opcionales para los botones del incrementador */

.inner-first-items{
  flex:1;
  display:flex;
  flex-direction:row;
  max-width:200px;
  margin: 0;  /* Elimina los márgenes */
  padding: 0;  /* Elimina el relleno */
}
  
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    overflow: hidden;
    margin: 0;  /* Elimina los márgenes */
    padding: 0;  /* Elimina el relleno */
  }

  .btn .value {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    overflow: hidden;
    margin: 0;  /* Elimina los márgenes */
    padding: 0;  /* Elimina el relleno */
  }
  
  .inner-square-dos-div {
    flex: 1;
    max-width: 25px;
    max-height: 25px;
    display: flex;
    margin: 0;  /* Elimina los márgenes */
    padding: 0;  /* Elimina el relleno */
    justify-content: space-between;
    align-items: center;
    /* margin-top: 12,5;  Elimina los márgenes */


  }
  .inner-square-dos-div.active {
    /* Estilos cuando está activo */
    background-color: #3498db;
    color: #fff;
  }
  
  
/*  
  .inner-square-dos-div img{
    display:inerhit;
  } */
  /* app.component.css */
  
  
  /* app.component.css */
  .inner-square-tres-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    max-height: 50px; /* Ajusta la altura según sea necesario */
    margin: 0;
    padding: 0;
  }
  
  .inner-square-tres-div p {
    margin: 0;
    font-size: 12px;
  }
  
  .p {
        font-size: 8px;

  }
  /* incrementador.component.css */
  /* Estilos opcionales para los botones del incrementador */
  button {
    cursor: pointer;
    padding: 0px;
    border: none;
    background-color: #e0e0e0;
    margin: 0;  /* Elimina los márgenes */
    padding: 0;  /* Elimina el relleno */
    text-align: left;

  }

  
  span {
    font-size: 8px;
    margin: 0px;
    padding: 0;  /* Elimina el relleno */

    text-align: left;
  }

.menos{
  background-image:url(../../../../../../assets/css/imagens/menos.jpg)
}

.mas{
  background-image:url(../../../../../../assets/css/imagens/mas.jpg)
}
.flex-contenedor{
  /* border: 1px solid black; */
  /* background: #ccc; */
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-content: center;
  max-height: 50px;
  justify-content:space-between;
}