<ll-product-hero></ll-product-hero>
<div class="ll-search pb-6">
  <div class="container">

    <div class="border overflow-hidden sm:rounded-md p-5">
      <div class="mb-3">
        <div class="flex justify-between flex-wrap">
          <h4>Encontrá lo que necesitás</h4>

          <label>Ordenar por &nbsp;</label>
          <select [(ngModel)]="SortbyParam">
            <option value="empresa">Empresa</option>
            <option value="price">Precio</option>
          </select>
          <button type="button" (click)="onSortDirection()" >
            <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
            <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
          </button>
          <button (click)="advanceSearchExpanded = !advanceSearchExpanded" mat-button>
            <mat-icon>tune</mat-icon> Busqueda Avanzada
          </button>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
           
          
            <mat-button-toggle [class.text-accent]="view === 'grid'" (click)="view = 'grid'" mat-icon-button class="view__btn"><mat-icon>grid_view</mat-icon></mat-button-toggle>
            <mat-button-toggle [class.text-accent]="view === 'list'" (click)="view = 'list'" mat-icon-button class="view__btn"><mat-icon>list_alt</mat-icon></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="mt-3 flex">
          <input
            type="text"
            placeholder="Estoy buscando ..."
            name="filterPlan"
            class="flex-1 w-full sm:text-sm lg:text-xl border-gray-300 rounded-l-md py-3 px-6"
            required
          />
          <button class="bg-primary w-24 rounded-r-md"><mat-icon class="leading-8">buscar</mat-icon></button>
        </div>
      </div>
      <mat-expansion-panel [expanded]="advanceSearchExpanded">
        <div class="grid grid-cols-6 gap-6 mt-4">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-indigo-500
                focus:border-indigo-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
              placeholder="Precio desde"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-indigo-500
                focus:border-indigo-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
              placeholder="Precio hasta"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <select
              name="categories"
              class="
                mt-1
                block
                w-full
                py-2
                px-3
                border border-gray-300
                bg-white
                rounded-md
                shadow-sm
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                sm:text-sm
              "
              [(ngModel)]="empresa"
            >
              <option>Empresa</option>
              <option>SanCor Salud</option>
              <option>OMINT</option>
              <option>Galeno</option>
              <option>Avalian</option>
              <option>Swiss Medical</option>
              <option>Premedic</option>
              <option>Medife</option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <select
              name="rating"
              class="
                mt-1
                block
                w-full
                py-2
                px-3
                border border-gray-300
                bg-white
                rounded-md
                shadow-sm
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                sm:text-sm
              "
            >
              <option>Rating</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-span-6">
            <button mat-flat-button color="accent" (click)="onEmpresaFilter()">Aplicar Filtro</button>
            <button mat-flat-button color="accent" (click)="onEmpresaFilterClear()">Limpiar Filtro</button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<app-filters-form></app-filters-form>
<div class="ll-products-area mb-24">

  <div class="container">

    <div class="grid grid-cols-12 gap-4 xxl:gap-8 flex" *ngIf="isLoaded">

      <div 
        *ngFor="let product of products | filter: SearchEmpresa:'empresa' | sort: [SortbyParam, SortDirection]"
        class="col-span-12 md:col-span-4 xl:col-span-4 flex" >
        <ll-product-card  *ngIf="view === 'grid'" [product]="product"></ll-product-card>
      </div>
    </div>

      <div  class="col-span-6 md:col-span-12 xl:col-span-12" >
        <div *ngFor="let product of products | filter: SearchEmpresa:'empresa' | sort: [SortbyParam, SortDirection]">
          
          <ll-listing-card *ngIf="view === 'list'" [product]="product"></ll-listing-card>
        
        </div>    
      </div>  -->

     
        <ng-container *ngIf="!(loading$ | async); else loadingTpl">
  
       
        
          <!--Products List-->
       
            <app-product-filter  *ngFor='let product of products' [product]=product class="col-span-12 md:col-span-4 xl:col-span-4" >>
            </app-product-filter>
         
  
        
        </ng-container>

        <jw-modal id='custom-modal-4' >
          <!-- <div class="modal-header">
            <button type="button"type="button" class="close" aria-label="Close" (click)="closeModal('custom-modal-4')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <!-- <div class="modal-header">
          <button mat-icon-button style="float: right;" class="close-bu
          
          tton" (click)="closeModal('custom-modal-4')">
            <mat-icon  style="float: right;" class="close-icon" color="warn">X</mat-icon>
          </button></div> -->
        <app-compare class="child"  [productos]='compareProdList()' [items]='compareProdClinicas(compareProdList())'>
        </app-compare>
        
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeM('custom-modal-4')">Cerrar</button>
        </div>
        
        
        </jw-modal>




    <div *ngIf="!isLoaded">
     
     
      <ngx-skeleton-loader
        count="9"
        appearance="circle"
        [theme]="{
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"
      ></ngx-skeleton-loader>
      <jjva-ngx-whatsapp-button class="ngx-whatsapp-button-float" [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="mensaje"></jjva-ngx-whatsapp-button>


      <div class="flex flex-col items-center my-12">
        <div class="flex text-gray-700">
            <div class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </div>
            <div class="flex h-8 font-medium rounded-full bg-gray-200">
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">1</div>
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">...</div>
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">3</div>
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full bg-pink-600 text-white ">4</div>
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">5</div>
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">...</div>
                <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">15</div>
                <div class="w-8 h-8 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded-full bg-pink-600 text-white">4</div>
            </div>
            <div class="h-8 w-8 ml-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
<app-compare-item >

</app-compare-item>
<app-comparar-select></app-comparar-select>
<ng-container *ngIf='compareProdList().length >= 1 show'>
<div id="mybutton" >
  <button class="feedback" mat-raised-button color="primary"
  matBadge={{compareLength}} matBadgePosition="after" matBadgeColor="accent" (click)="openM('custom-modal-4')">
  <app-comparar-select [comparar]='compareProdList()' ></app-comparar-select>
</button>

  </div>
</ng-container>
<!-- <div class="ll-find-more mt-10 mb-36">
  <div class="container rounded-md">
    <h2 class="ll-find-more__heading">¿No encontraste lo que buscabas? Hay más que podemos hacer por usted.</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      <div class="_card bg-white rounded-md">
        <h3 class="_card__title font-normal text-black">
          Publique los requisitos y deje que nuestros consultores hagan una oferta individual
        </h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Mercado de talentos</h5>
        <a href="" mat-fab color="warn" class="float-right mt-"><mat-icon>arrow_forward</mat-icon></a>
      </div>
      <div class="_card bg-white rounded-md ml-auto">
        <h3 class="_card__title font-normal text-black">
          Publique un problema y buscaremos asesores adecuados talentosos y hábiles.
        </h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Recdlutamos</h5>
        <a href="" mat-fab color="warn" class="float-right mt-"><mat-icon>arrow_forward</mat-icon></a>
      </div>
    </div>
  </div>
</div> -->
