@import 'src/app/styles/variables';
// .container {
//   width: flex;
//   height: 700px;
//   background-color: rgb(255, 255, 255);
//   overflow: auto;
//   padding: 0px;
//   display:auto;
//   margin:0px;
// }
// .container-tab  {
//   width: 100%;
//   height: 600px;
//   background-color: rgb(255, 255, 255);
//   overflow: auto;
//   padding: 0px;
//   display:auto;
//   margin:0px;
// }
// body {
//     font-family: Roboto, Arial, sans-serif;
//     margin: 0;
//     padding: 30px;
//   }
  
//   .version-info {
//     font-size: 8pt;
//     float: right;
//     margin: 8px;
//   }
//   ::ng-deep .mat-tab-body-wrapper {
//     height: 75vh;
// }
// mat-tab-group {
//   height: 100%;
//   overflow-y: auto;
// }

// .compare {
//   table {
//     background-color: #fff;
//     border-radius: 5px;
//     overflow: hidden;
//     box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.05);
//     border: 1px solid #eee;
//     font-size: 18px;
//     table-layout: fixed;

//     .bg-red {
//       background-color: $red;
//     }

//     .bg-green {
//       background-color: $green;
//     }

//     .bg-blue {
//       background-color: $blue;
//     }

//     tr > td,
//     tr > th {
//       padding-top: 25px;
//       padding-bottom: 25px;
//       text-align: center;
      
//         word-break: break-word;
      
//     }

//     th[scope="row"] {
//       font-size: 20px;
//       color: #393c45;
//       font-weight: normal;
//       background-color: #f9f9f9;
//       border: 1px solid #eee; word-break: break-word;
//       text-align: left;
//       padding-left: 45px;
//     }

//     tr {
//       &.condition {
//         color: #fff;
//         font-size: 20px;
//       }

//       &.colors span {
//         height: 20px;
//         width: 20px;
//         display: inline-block;
//         margin-right: 5px;
//         border-radius: 100%;
//       }
//     }

//     thead {
//       th {
//         font-size: 20px;
//         color: #393c45;
//         font-weight: normal;
//       }
//     }
//   }

//   .thead-default th {
//     background-color: #fff;
//   }
// }

// /* Style the table */

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
//   width: 100%;
//   border: 1px solid #ddd;
// }

// /* Style table headers and table data */
// th, td {
//   text-align: center;
//   padding: 0px;
//   word-break: break-word;
// }
// th:first-child {
//   position: sticky !important;
//   top: 0;
//   background: white;
//   z-index: 1;
// }
// td:first-child {
//   text-align: left;
//   word-break: break-word;
// }

// /* Zebra-striped table rows */
// tr:nth-child(even) {
//   background-color: #f2f2f2
// }

// .fa-check {
//   color: green;
// }

// .fa-remove {
//   color: red;
// }


// .list-md .item-block .item-inner {
// 	border-bottom: none;
// }

// .table td,
// .table th {
// 	border-top: none !important;
// }
// thead.sticky-header {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
// .table thead th {
// 	border-bottom: none !important;
// }
// .table thead.sticky-header {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
// .header {
// 	background-color: #f8f8f8;
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

// .hdr {
// 	border-left: 0.1px solid #dee2e6;
// }

// tr td {
// 	border-left: 0.1px solid #dee2e6;
//   word-break: break-word;
// }

// .column {
// 	float: left;
// 	width: 33%;
// 	padding: 10px;
// }

// .row:after {
// 	content: "";
// 	display: table;
// 	clear: both;
// }

// * {
// 	box-sizing: border-box;
// }

// .top-left {
// 	position: absolute;
// 	top: 8px;
// 	left: 16px;
// }

// span {
// 	font-size: 11px !important;
// }

// .pad {
// 	padding-left: 12px
// }

// .topRight {
// 	position: absolute;
// 	top: 0px;
//     right: 20px;
// 	/* top: 0px;
// 	right: 88px; */
// 	height: 50px;
// 	width: 28px;
// 	border-radius: 50%;
// 	border:grey solid 1px ;
// }

// #x {
//     position: absolute;
//     background: white;
//     color: gray;
//     top: 5px;
// 	right: 20px;
// 	border-radius: 50%;
// 	border:grey solid 1px ;
// 	padding: 5px;
// 	cursor: pointer;
// }

// .img_wrp {
// 	display: inline-block;
// 	position: relative;
//   }
// .close{
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// }

// .image{
// 	height: 200px;
// 	width: 400px;
// }

// input {
// 	position: relative;
// 	top: 3px;
// 	left: 10px
// }

// .row {
// 	max-width: 100% !important;
// }

// .select {
// 	text-align: center;
// 	position: relative;
// 	margin: auto;
// 	width: 50%;
// 	padding: 40px;
// 	display: block;
//     height: 100%;
//   }

//   @media screen {
//     #printable * {
//         display: none;
//     }
//   }
  
//   @media print {
//     body * {
//       visibility:hidden;
//     }
//     #printable, #printable * {
//       visibility:visible;
//     }
//     #printable {
//       position:absolute;
//       left:0;
//       top:0;
//       margin-top:5px; 
//     }

  
//   }

//   $gray-100: #f7fafc;
// $gray-200: #edf2f7;
// $gray-300: #e2e8f0;
// $gray-400: #cbd5e0;
// $gray-500: #a0aec0;
// $gray-600: #718096;
// $gray-700: #4a5568;
// $gray-800: #2d3748;
// $gray-900: #1a202c;

// $white: #ffffff;

// .container {
//   max-width: 500px;
//   margin: auto;
//   margin-top: 3rem;
//   overflow-x: auto;
// }

// table {
//     font-family: "Open Sans", sans-serif;
//     position: relative;
//     border-collapse: collapse;
//     border-spacing: 0;
//     table-layout: auto;
//     width: 100%;
//     border: none;
//     border-radius: 0.5rem;
//     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

//     * {
//         border: none;
//     }
//     white-space: nowrap;
//     thead tr {
//         color: $gray-800;
//         font-size: 1rem;
//         font-weight: 500;
//         text-align: left;

//         th {
//             background: $gray-200;
//             padding: 0.75rem 1.5rem;
//             vertical-align: middle;
//         }
//     }

//     tbody {
//         tr:nth-child(odd) td {
//             background: $white;
//         }

//         tr:nth-child(even) td {
//             background: $gray-200;
//         }
//         td {
//             color: $gray-900;
//             text-align: left;
//             padding:0px;
//             vertical-align: middle;
//             font-size: 0.750rem;
//             font-weight: normal;
//         }
//     }

//     tr:last-child td:first-child {
//         border-bottom-left-radius: 0.5rem;
//     }

//     th:first-child {
//         border-top-left-radius: 0.5rem;
//     }

//     tr:last-child td:last-child {
//         border-bottom-right-radius: 0.5rem;
//     }

//     th:last-child {
//         border-top-right-radius: 0.5rem;
//     }
  
//   tr>th:first-child,tr>td:first-child {
//     position: sticky;
//     left: 0;
//   }
// }
// .container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #f2f2f2;
//   padding: 10px;
//   margin: 0 auto;
//   max-width: 800px;
//   display: flex;
//   align-items: center;
//   border-bottom: 1px solid #ccc;
// }
// .container h2 {
//   font-size: 1.5rem;
//   margin: 0;
// }

// .container .close-btn {
//   cursor: pointer;
//   font-size: 1.5rem;
//   color: #555;
// }
// .box {
//   background-color: white;
//   border: 1px solid #ccc;
//   border-radius: 10px;
//   padding: 20px;
//   width: 20%;
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
// }

// .box h2 {
//   font-size: 24px;
//   margin-bottom: 10px;
// }

// .box p {
//   font-size: 16px;
//   line-height: 1.5;
// }
.nombre-col {
  max-width: 100px; /* ajustar según sea necesario */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 14px;

}
.nombre-col .nombre-col-barrio {
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Estilos para la tabla */
@import '../../../../../../../styles/variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.container {
  width: 100%;
  height: 700px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  padding: 0px;
  display:auto;
  margin:0px;
}
.container-tab  {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  padding: 0px;
  display:auto;
  margin:0px;
}
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 30px;
  }
  
  .version-info {
    font-size: 24pt;
    float: right;
    margin: 8px;
  }
  ::ng-deep .mat-tab-body-wrapper {
    height: 75vh;
}
mat-tab-group {
  height: 100%;
  overflow-y: auto;
}

.compare {
  table {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
    font-size: 12px;
    table-layout: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Ajusta los valores según tus necesidades */
    .bg-red {
      background-color: $red;
    }

    .bg-green {
      background-color: $green;
    }

    .bg-blue {
      background-color: $blue;
    }

    tr > td,
    tr > th {
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;
    }

    th[scope="row"] {
      font-size: 12px;
      color: #393c45;
      font-weight: normal;
      background-color: #f9f9f9;
      border: 1px solid #eee;
      text-align: left;
      padding-left: 45px;
    }

    tr {
      &.condition {
        color: #fff;
        font-size: 12px;
      }

      &.colors span {
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-right: 0px;
        border-radius: 100%;
      }
    }

    thead {
      th {
        font-size: 14px;
        color: #393c45;
        font-weight: normal;
      }
    }
  }

  .thead-default th {
    background-color: #fff;
  }
}

/* Style the table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/* Style table headers and table data */
th, td {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 100px; /* Ancho mínimo, ajusta según tus necesidades */
  max-width: 1fr; /* Ancho máximo igual a una fracción flexible */
  font-size: 12px;

}

th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #f2f2f2
}


/* Ocultar la última celda de datos */
td:last-child {
  display: none;
}
.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}


.list-md .item-block .item-inner {
	border-bottom: none;
}

.table td,
.table th {
	border-top: none !important;
}

.table thead th {
	border-bottom: none !important;
}

.header {
	background-color: #f8f8f8;
}

.hdr {
	border-left: 0.1px solid #dee2e6;
}

tr td {
	border-left: 0.1px solid #dee2e6;
}

.column {
	float: left;
	width: 33%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
}

span {
	font-size: 11px !important;
}

.pad {
	padding-left: 12px
}

.topRight {
	position: absolute;
	top: 0px;
    right: 20px;
	/* top: 0px;
	right: 88px; */
	height: 50px;
	width: 28px;
	border-radius: 50%;
	border:grey solid 1px ;
}

#x {
    position: absolute;
    background: white;
    color: gray;
    top: 5px;
	right: 20px;
	border-radius: 50%;
	border:grey solid 1px ;
	padding: 5px;
	cursor: pointer;
}

.img_wrp {
	display: inline-block;
	position: relative;
  }
.close{
	position: absolute;
	top: 0;
	right: 0;
}

.image{
	height: 200px;
	width: 400px;
}

input {
	position: relative;
	top: 3px;
	left: 10px
}

.row {
	max-width: 100% !important;
}

.select {
	/* text-align: center;
	position: relative;
	margin: auto;
	width: 50%;
	padding: 40px; */
	display: block;
    height: 100%;
  }

 thead.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #666;
    padding: 40px;
    font-size: 25px;
  }
/* Estilo para un badge personalizado */
.badge-custom {
  display: inline-block;
  padding: 4px 8px; /* Ajusta el padding según tus necesidades */
  border-radius: 4px; /* Ajusta el radio de borde según tus necesidades */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente */
}
/* Estilo para centrar verticalmente y aumentar el tamaño de los iconos */
.icon-container {
  display: inline-flex; /* Usa inline-flex para evitar que se alinee al margen izquierdo */
  align-items: center;
  justify-content: center; /* Centra horizontalmente el contenido */
  font-size: 12px; /* Ajusta el tamaño del ícono según tus necesidades */
  height: 100%; /* Asegura que ocupe toda la altura de la celda */
}

.features {
  border-collapse: collapse;
  font-family: sans-serif;
}

.features__cell {
  max-width: 250px;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.5em 1em;
  color: #333333;
  border: 1px solid #dddddd;
  line-height: 1.4;
}

.features__cell--bold {
  font-weight: bold;
}

.features__cell--shaded {
  background: #eeeeee;
}

.features__cell--large {
  font-size: 1.25em;
}

.features__cell--center {
  text-align: center;
}

.features__tick::after {
  content: "\2714";
  font-size: 1.5em;
  color: green;
}
.features__cross::after { 
  content: "\2716"; /* Carácter unicode para una 'x' */
  font-size: 1.5em; /* Tamaño del carácter */
  color: red; /* Color del carácter */
  display: inline-block; /* Hace que el carácter se muestre en línea con el texto */
  width: 1em; /* Ancho del elemento */
  height: 1em; /* Altura del elemento */
  text-align: center; /* Alineación del texto */
  line-height: 1em; /* Altura de línea igual a la altura del elemento para centrar verticalmente */
  border: 1px solid red; /* Borde rojo alrededor del círculo */
  border-radius: 50%; /* Hace que el borde forme un círculo */
  background: white; /* Fondo blanco detrás de la 'x' para que se vea como un círculo rojo con una 'x' */
}
