

<div class="item">
    <div class="col-xl-3 col-lg-2 px-0" style="width:25%;padding:10px">
    <a class="logo" href="../planes-de-salud-precios/galeno-plan-de-salud/cotizar/index.html">
        <img src="{{product.images[0].url}}" alt="{{ product.name }}">
    </a>
</div>
     <!-- <div class="col-xl-3 col-sm-6">
      <span>
      <i class="me-2 text-success fa fa-check"></i> Free worldwide shipping </span>
      <br>
      <span>
      <i class="me-2 text-success fa fa-check"></i> Pay with installment </span>
      <br>
      <span>
      <i class="me-2 text-success fa fa-check"></i> Pay with installment </span>
    </div>
   
    <div class="col-xl- col-sm-6">
        <span>
        <i class="me-2 text-success fa fa-chec3k"></i> Free worldwide shipping </span>
        <br>
        <span>
        <i class="me-2 text-success fa fa-check"></i> Pay with installment </span>
        <br>
        <span>
        <i class="me-2 text-success fa fa-check"></i> Pay with installment </span>
      </div> -->
      <div class="container col-xl-6 col-lg-6 px-0" style="width:50%;">
        <table>
            <caption class="center block">nivelCobertura</caption>
            <tr>
                <td>nivelCobertura</td>
                <td>nivelCobertura</td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
            </tr>
            <tr>
                <td>nivelCobertura</td>
                <td>nivelCobertura</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-6 col-sm-6">ss</div>
            <div class="col-md-6 col-sm-6">ss</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">ss</div>
            <div class="col-md-6 col-sm-6">ss</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">ss</div>
            <div class="col-md-6 col-sm-6">ss</div>
        </div>
        <div class="row"></div>
    </div>

   
   
   
    <div class="col-xl-4 center block" style="padding:0px;width:25%;align-items:center;display:flex">
        <div class="container-fluid">
            <div class="col-12">stars_rating</div>
            <div class="row justify-content-md-center justify-content-sm-center">
                <div class="col-md-auto col-sm-auto">
                    <strong style="font-size:28px">valor_total_plan</strong>/mes
                </div>
                <br>
            </div>
            <div class="row justify-content-md-center justify-content-sm-center">
                <div class="col-md-auto col-sm-auto">
                    <button style="width:0 auto" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cotizar">Cotizar</button>
                </div>
            </div>
            <div class="row justify-content-md-center justify-content-sm-center">
                <div class="col-md-auto col-sm-auto">
                    <p>ver de talle</p>
                </div>
            </div>
        </div>
    </div>
</div>

