/**/
::-webkit-input-placeholder{color:#ccc !important}
:-moz-placeholder{color:#ccc !important}
::-moz-placeholder{color:#ccc !important}
:-ms-input-placeholder{color:#ccc !important}
/**/

#wrapper .passo-bandeiras{
	color: #5d5d5d !important;
    font-size: 24px !important;
    line-height: 30px !important;
    margin: 0 0 35px 0 !important;
    text-align: center;
    font-weight: 700;
}

#wrapper .bandeiras{
	max-width: 1200px;
    height: auto;
    text-align: center;
    margin: 0 auto 45px;
}

#wrapper .bandeiras img{
    width: 190px;
    height: auto !important;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px 10px 3px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd !important;
}
#wrapper .bandeiras img:hover{box-shadow: 0 0 0 2px #f7941e !important;}
/**/

.passo-formulario{
    color: #5d5d5d !important;
    font-size: 24px !important;
    line-height: 30px !important;
    margin: 0 0 35px 0 !important;
    text-align: center;
    font-weight: 700;
}

.form-cotacao{
	max-width: 800px;
    margin: 30px auto 70px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    padding: 30px 100px 50px 100px;
    border-radius: 5px;
    background-color: #fff;
    position:relative;
}

#wrapper .form-cotacao .plano-selecionado{
	width: 100%;
    height: auto;
    text-align: center;
    margin: 0 0 20px 0;
	display: none;
}
#wrapper .form-cotacao .plano-selecionado p{
	color: #f7941e !important;
    font-size: 22px !important;
    line-height: 26px;
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: 700 !important;
}
#wrapper .form-cotacao .plano-selecionado .recebe-img{
    width: 100%;
    border-radius: 150px;
}
#wrapper .form-cotacao .plano-selecionado img{
    width: 90px;
    height: auto !important;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 0 2px #fff !important;
    background-color: #fff;
}
#amil{background-color: #042e84;}
#amil-one{background-color: #d61073;}
#bradesco{background-color: #ca0428;}
#sao-cristovao{background-color: #19aaa5;}
#notredame{background-color: #f49602;}
#sulamerica{background-color: #293476;}
#biovida{background-color: #db0302;}
#omint{background-color: #012f6d;}
#caixa-saude{background-color: #1a5dac;}
#sompo{background-color: #f1f1f1;}
#unimed{background-color: #008553;}
#golden-cross{background-color: #003cb4;}
#porto-seguro{background-color: #01aef0;}
#hapvida{background-color: #f04130;}
#prevent-senior{background-color: #00253a;}
#trasmontano{background-color: #cf0b0f;}
#santa-amalia{background-color: #da251e;}
#santa-helena{background-color: #cb2228;}
#allianz{background-color: #014991;}
#smile{background-color: #0056ab;}
#clinipam{background-color: #60bc00;}
#greenline{background-color: #378964;}
#maritima{background-color: #003596;}
#nossa-saude{background-color: #ff5a20;}
#promed{background-color: #13184c;}
#quallity{background-color: #db192b;}
#samp{background-color: #00b1db;}
#multimarcas{background-color: #ff7600;}




.form-cotacao h2{
    font-weight: 700 !important;
    font-size: 25px !important;
    margin: 0 0 30px 0 !important;
    color: #787878 !important;
    text-align: center;
    border-bottom: 1px dashed #ccc;
    padding: 0 0 25px 0;
}

/**/
.tipo-de-plano, .possui-plano, .possui-cnpj{
	width: 100%;
    height: auto;
    margin: 0 0 25px 0;
    position: relative;
    padding: 0 0 10px 0;
}

.tipo-de-plano p, .possui-plano p, .possui-cnpj p{position: relative;}

.tipo-de-plano p.ok::after, .possui-plano p.ok::after, .possui-cnpj p.ok::after{width: 20px; height: 20px; content: ""; background-image: url(imagens/icone-check.svg); background-position: center; background-repeat: no-repeat; background-size: 100%; position: absolute; bottom: 2px; display: inline-block; margin: 0 0 0 5px;}

.tipo-de-plano b, .possui-plano b, .possui-cnpj b{min-width: 100px;text-align: center; background-color: #fff; padding: 10px; display: inline-block; border: 1px solid #66a9d8; box-shadow: 0 5px 5px rgba(0,0,0,0.2); margin: 0 20px 0 0; font-family: 'Noto Sans', sans-serif; font-weight: 400; color: #4e636d; cursor: pointer;}

.tipo-de-plano b:hover, .possui-plano b:hover, .possui-cnpj b:hover{background-color: #4caf50; border: 1px solid #047d72; color: #fff;}

.tipo-de-plano b.ativa, .possui-plano b.ativa, .possui-cnpj b.ativa{background-color: #4caf50; border: 1px solid #047d72; color: #fff;}

.tipo-de-plano input[type="radio"], .possui-plano input[type="radio"], .possui-cnpj input[type="radio"]{position: absolute; z-index: -1; opacity: 0;}

.operadora{margin: 0 0 35px 0;}

#idTipo-error, #possuiPlano-error, #possuiCNPJ-error{
	border: none;
    min-width: auto;
    padding: 0;
    background: transparent;
    box-shadow: none;
    margin: 0;
    color: red;
    position: absolute;
    left: 0;
    bottom: -15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
/**/

.form-cotacao span{
	width:100%;
    height:auto;
	position:relative;
	display:block;
}

.form-cotacao span i{
	font-weight: 400;
    color: #555;
    line-height: 22px;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    margin: 0 0 15px 0;
    display: inline-block;
}

.form-cotacao span input[type="text"], .form-cotacao span input[type="email"], .form-cotacao span input[type="tel"]{
	width: 100%;
    margin: 0 0 35px 0;
    outline: none;
    padding: 0 0 5px 0;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-bottom: 2px solid #ccc;
    font-weight: 400;
}

.form-cotacao span input[type="text"]:focus, .form-cotacao span input[type="email"]:focus, .form-cotacao span input[type="tel"]:focus{border-bottom: 2px solid #4caf50;}

.form-cotacao span label{
	width:20px;
    height:20px;
    background:red;
	background-image:url(imagens/icone-erro.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:10px;
    position:absolute;
    left:-30px;
    top:37px;
    z-index:5;
	font-size:0;
}

.form-cotacao span label::before{
    position:absolute;
    right:-19px;
    top:50%;
    content:"";
    border-color:transparent transparent transparent red;
    border-style:solid;
    border-width:10px;
    transform:translateY(-50%);
}

.form-cotacao span select{
    width: 100%;
	height: auto;
    margin: 0 0 40px 0;
    outline: none;
    padding: 0 0 5px 0;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-bottom: 2px solid #ccc;
    font-weight: 400;
}

.form-cotacao .coluna{
	width: 33.33%;
    min-height: 30px;
    margin: 0 0 15px 0;
    float: left;
    padding: 0 30px 0 0;
    box-sizing: border-box;
}

.form-cotacao .coluna span select{border-bottom: 1px solid #ccc; margin: 0 0 25px 0;}

.form-cotacao input[type="submit"]{
	background-color: #ff9800;
    font-weight: 700;
    border: none;
    padding: 15px 80px 15px 80px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 50px;
    margin: 10px auto 0;
    display: block;
    font-size: 20px;
	outline: none;
	-webkit-appearance: none;
}

.form-cotacao input[type="submit"]:hover{background-color: #4caf50;}

.form-cotacao .sucesso{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    background-color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 5px;
}

.form-cotacao .falha-envio{
    width: 100%;
    font-size: 16px;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    background-color: red;
    margin: 0;
    border-radius: 5px;
}

.form-cotacao .loader{
    width: 52px;
    height: 52px;
    background-color: white;
    background-image: url(imagens/gif-enviando.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    bottom: 52px;
    margin: 0 0 0 -26px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
}

@media(max-width:1400px){
    #wrapper .bandeiras{max-width: 970px;}
    #wrapper .bandeiras img{width: 120px;}
}

@media(max-width:767px){
    #wrapper .titulo-pagina-cotacao{font-size: 18px; padding: 5px; margin: 10px auto 0; margin: 0 auto 0; text-align: center;}

	.form-cotacao{width: 95%; padding: 20px 15px 20px 15px; margin: 10px auto 40px;}
	.form-cotacao h2{font-size: 24px !important;}
	
	#wrapper .passo-bandeiras{font-size: 14px !important; line-height: 24px !important; margin: 5px 0 15px 0 !important;}
	#wrapper .bandeiras{margin: 0 auto 15px;}
	#wrapper .bandeiras img{width: 29% !important; margin: 0 2px 8px 2px;}
    #wrapper .bandeiras img.desabilitar-no-mobile{display: none !important;}

    .passo-formulario{font-size: 14px !important; line-height: 24px !important; margin: 5px 0 0 0 !important;}

    #wrapper .form-cotacao .plano-selecionado img{width: 70px;}
	
	.tipo-de-plano, .possui-plano, .possui-cnpj{text-align: center;}
	.tipo-de-plano{margin: 0 0 10px 0;}
	.tipo-de-plano p, .possui-plano p, .possui-cnpj p{text-align: center !important; padding: 0 40px 0 40px;}
	.tipo-de-plano b{width: 100%; margin: 0 0 15px 0; box-shadow: 0 5px 5px rgba(0,0,0,0.1);}
	.possui-plano b{width: 100px; margin: 0 10px 0 10px; box-shadow: 0 5px 5px rgba(0,0,0,0.1);}
	.possui-cnpj b{margin: 0 10px 0 10px;}
	.form-cotacao .coluna{width: 100%; padding: 0;}
	
	#idTipo-error, #possuiPlano-error, #possuiCNPJ-error{margin: 0 0 5px 0; position: relative; left: inherit; bottom: inherit; display: block;}

    .form-cotacao span label{width: 0; left: -14px; background-image: none;}
	
	.form-cotacao input[type="submit"]{padding: 15px 25px;}

    .form-cotacao .loader{bottom: 22px;}
}