<div class="description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Con un solo formulario, obtén tu comparativa personalizada</h2>
            </div>
            <div class="col-md-7">
                <div class="first-column">
                    <ul>
                        <li>
                            <p>1. Rellena un solo formulario</p>
                            <img src="https://img4.acierto.com/css/r/images/image-1.jpg" alt="Formulario comparador" class="img-responsive">
                        </li>
                        <li>
                            <p>2. Obtén tu comparativa</p>
                            <img src="https://img1.acierto.com/css/r/images/image-2.jpg" alt="Comparativa aseguradoras" class="img-responsive">
                        </li>
                        <li class="li-hidden">
                            <p>3. Contrata la mejor opción</p>
                            <img src="https://img2.acierto.com/css/r/images/ipad_mobile.png" alt="Valoración aseguradora" class="img-responsive">
                        </li>
                    </ul>
                    <a href="https:://precios.lasaludestodo.com.ar/comparador.php" class="green-btn base-btn" title="Comparador de Seguros de Coche">
        COMPARAR SEGUROS <span class="glyphicon glyphicon-play"></span>
    </a>

                </div>
            </div>
            <div class="col-md-5">
                <div class="second-column">
                    <p>3. Contrata la mejor opción</p>
                    <img src="https://img3.acierto.com/css/r/images/comparador-tablet.jpg" alt="Valoración aseguradora">
                </div>
            </div>
        </div>
    </div>
</div>