<form [formGroup]="form" (ngSubmit)="save($event)">
<div formGroupName="fullName">

 <mat-form-field appearance="fill">
     <mat-label>Nombre: {{ nameField.value}}</mat-label>
    <input matInput type="text" formControlName="name"/>
    <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
    <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>

  </mat-form-field>
   <div class="messages" [class.active]="nameField.invalid">
   <mat-error *ngIf="nameField.hasError('required')">
    Este campo es requerido
   </mat-error>
    <mat-error *ngIf="nameField.hasError('maxlength')">
    Este campo debe tener 10 caracteres como maximo
   </mat-error>
   <mat-error *ngIf="nameField.hasError('pattern')">
    No debes tener caracteres
  </mat-error>
</div>

<mat-form-field appearance="fill">
  <mat-label>Apellido: {{ lastField.value}}</mat-label>
 <input matInput type="text" formControlName="last"/>
 <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
    <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
</mat-form-field>
<div class="messages" [class.active]="lastField.invalid">
<mat-error *ngIf="lastField.hasError('required')">
 Este campo es requerido
</mat-error>
 <mat-error *ngIf="lastField.hasError('maxlength')">
 Este campo debe tener 10 caracteres como maximo
</mat-error>
<mat-error *ngIf="lastField.hasError('pattern')">
 No debes tener caracteres
</mat-error>
</div>
</div>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Email: </mat-label>
  <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
  <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="emailField.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Celular:</mat-label>
  <span matPrefix>+54 9 &nbsp;</span>
  <input type="tel" matInput placeholder="555-555-1234" formControlName="phone">
  <mat-error *ngIf="phoneField.hasError('phone') && !phoneField.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-icon matSuffix>mode_edit</mat-icon>
</mat-form-field>

  <p>
      Color: {{colorField.value}}
      <input type="color" formControlName="color"/>
  </p>
  
  <p>
      Fecha: {{dateField.value}}
      <input type="date" formControlName="date"/>
  </p>
  
  <p>
      Edad: {{ageField.value}}
      <input type="number" formControlName="age"/>
  </p>

  <div class="messages" [class.active]="ageField.touched && ageField.invalid"></div>
    <p>
      <strong *ngIf="ageField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>
    <p>
      <strong *ngIf="ageField.hasError('min')">Debe ser mayor de edad</strong>
    </p>
    <p>
      <strong *ngIf="ageField.hasError('max')">Debe ser menor de  100 años</strong>
  
    </p>

  <p>
  Category: {{categoryField.value}}
  <select formControlName="category">
    <option value="category-1">Category 1</option>
    <option value="category-2">Category 2</option>
    <option value="category-3">Category 3</option>
    <option value="category-4">Category 4</option>
  
  </select>
  </p>
  
  <p>
  Tags:  {{tagField.value}}
  <select formControlName="tag" multiple>
    <option value="tag-1">Tag 1</option>
    <option value="tag-2">Tag 2</option>
    <option value="tag-3">Tag 3</option>
    <option value="tag-4">Tag 4</option>
  </select>
</p>


  <p>
  
  Agree: {{agreeField.value}}
  <input type="checkbox" formControlName="agree"/>
  
  </p>
  
  <p>
     gender: {{genderField.value}}
    <label>
    <input name="gender" type="radio" value="Masculino" formControlName="gender"/>
    Masculino
  </label>
  <label>
    <input name="gender" type="radio" value="Femenino" formControlName="gender"/>
    Femenino
  </label>
  <label>
    <input name="gender" type="radio" value="Otro" formControlName="gender"/>
    Otro
  </label>
  </p>

   <p>
   zone: {{zoneField.value}}
    <label>
    <input name="zone" type="radio" value="zone-1" formControlName="zone"/>
    zone 1
  </label>
  <label>
    <input name="zone" type="radio" value="zone-2" formControlName="zone"/>
    zone 2
  </label>
  <label>
    <input name="zone" type="radio" value="zone-3" formControlName="zone"/>
    zone 3
  </label>
  </p>
  
   
  
  <p>
  <!-- <ngx-slider formControlName="control" [options]="options"></ngx-slider> -->
  </p>


  <p>
<button [disabled]="form.invalid" type="submit">Enviar</button>
  </p>

</form>
