.app-cotizar-form {
    margin-top: 160px; /* Ajusta este valor según tus necesidades */
    position: relative; /* Asegúrate de que la posición sea relativa para poder aplicar z-index */
    z-index: 100; /* Un valor menor que el del header */
  }