
  img {
    width: 10% !important;
  }

  #moduleCompare { 
    position:fixed  !important;
    margin: auto;
    top:700px;
    left:400px;
    cursor:hand;
    background:#efefef;
    border:1px solid #ffcc00;
    width:480px;
    z-index:100;
}