<section class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-4 d-block d-md-none text-center">
			<img src="/assets/images/asesori-logo-negative.png" width="90" height="90" alt="Asesori" routerLink="/homepage" />
		</div>
		<div class="col-12 col-lg-6">
			<h1>¿Necesitas cambiar tu plan de salud?</h1>
			<p>Te ayudamos a encontrar la opción que mejor se adapta a tus necesidades, y hacerla tu plan médico.</p>
			<div class="text-center text-lg-start pt-2 pt-lg-4">
				<!-- <a routerLink="/salud" class="btn btn-primary text-uppercase" role="button">Cotiza tu plan</a> -->
			</div>
		</div>
		<div class="col-12 col-lg-6 pt-4 pt-lg-0">
			<div class="d-flex bg-img align-items-center justify-content-center">
				<h5 class="text-white text-uppercase">Trabajamos con</h5>
			</div>
		</div>
	</div>
</section>
