<div class='banner-desktop' style='background-image: url(../../assets/images/uploads/2020/07/banner.png)'>
	<div class='corpo-banner'>
		<p>
			<strong>Plano de Saúde</strong>
			<br />
    Compare os Melhores Planos de Saúde para Você
</p>
    <a routerLink="/salud">COTE AGORA</a>
   
</div>
</div>
<div class='banner-mobile' style='background-image: url()'><div class='corpo-banner'><p><strong>Plano de Saúde</strong><br />
    Compare os Melhores Planos de Saúde para Você</p>
    <a routerLink="/salud"  role="button">Cotiza tu plan</a>

</div>

</div>