
<div class="d-flex justify-content-center align-items-center">

  <table>

    <thead>

      <tr>

        <th></th>
       <ng-container *ngFor="let producto of productos">
        <th >

          <div class="product-info">

            <img src="{{ producto.images[0].url }}">

            <p>{{ producto.name }}</p>

            <p>{{ producto.price }}</p>

          </div>

        </th>
      </ng-container>
      </tr>

    </thead>


    <tbody class="features" >
    <ng-container *ngFor="let group of attributeGroups" style="margin-top: 20px;">

      <tr>

        <td class="features__cell features__cell--bold features__cell--shaded" colspan="">{{ group }}</td>

      </tr>

      <tr *ngFor="let attribute of getAttributesInGroup(group)">

        <td class="features__cell">{{ attribute.name }}</td>

        <td *ngFor="let producto of productos" class="features__cell features__cell--center features__cell--data">

          {{ findAttributeValue(producto, attribute.name) }}

        </td>

      </tr>
    </ng-container>
    </tbody>

  </table>

</div>


