<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

                <mat-dialog-content >
                  <i class="close-icon"  [mat-dialog-close]="true">x</i>
                           
                  <div class="grid grid-cols-12 gap-8" >
                   
                    <div class="col-span-12 md:col-span-7 xl:col-span-8 border">
                      
                      <div class="ll-content mt-12">
                        <div class="flex flex-wrap">
                        <div class="w-full">
                      

  <!-- <nav class="flex flex-col sm:flex-row">
    <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500">
        Tab 1
    </button><button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none">
        Tab 2
    </button><button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none">
        Tab 3
    </button><button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none">
        Tab 4
    </button>
</nav> -->
  <!-- <nav class="flex flex-col sm:flex-row">
    <button class="btn text-gray-600 py-4 px-6 block  focus:outline-none" (click)="toggleTabs(3)" [ngClass]="{'text-pink-600 bg-white': openTab !== 3, 'background-color: #666': openTab === 3}">PLAN INICIAL</button>
    <button class="btn text-gray-600 py-4 px-6 block  focus:outline-none" (click)="toggleTabs(2)" [ngClass]="{'text-pink-600 bg-white': openTab !== 2, 'background-color: #666': openTab === 2}">PLAN INTERMEDIO</button>
    <button class="btn text-gray-600 py-4 px-6 block  focus:outline-none" (click)="toggleTabs(1)"  [ngClass]="{'text-pink-600 bg-white': openTab !== 1, 'background-color: #666': openTab === 1}">PLANES SUPERADORES</button>
  </nav> -->


  <mat-tab-group animationDuration="0ms" color="primary" backgroundColor="white">
<mat-tab label="Clinicas/Sanatorios"><div class="container">
  <app-clinicas-list-group></app-clinicas-list-group>
</div>
</mat-tab>
      <mat-tab label="Folleto">
        <div class="container">
          <app-pdf-viewer></app-pdf-viewer>
          <!-- <a href={{folleto}};
class="btn"
target="_blank"
download="700"
>Download Now</a> -->
        </div>
      </mat-tab>
</mat-tab-group>   
      <!-- <ul class="flex flex-col sm:flex-row">
        <li class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" (click)="toggleTabs(2)" [ngClass]="{'text-pink-600 bg-white': openTab !== 1, 'text-pink-600 bg-blue': openTab === 1}">
          <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" >
   <i class="fas fa-cog text-base mr-1"></i>
  Clinicas/Sanatorios
          </button>
        </li>
        <li class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" (click)="toggleTabs(1)" [ngClass]="{'text-pink-600 bg-white': openTab !== 3, 'text-pink-600 bg-blue': openTab === 3}">
          <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"  >
<i class="fas fa-space-shuttle text-base mr-1"></i> 
  Folleto
          </button>
        </li>
  
  
      <li class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" (click)="toggleTabs(3)" [ngClass]="{'text-pink-600 bg-white': openTab !== 3, 'text-pink-600 bg-blue': openTab === 3}">
          <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" >
      <i class="fas fa-briefcase text-base mr-1 "></i> Clinicas/Sanatorios
          </button>
        </li> 
  
      </ul>
    
      


      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="px-4 py-5 flex-auto">
          <div class="tab-content tab-space" >
            <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" class="p-0">
  <div class="container">
    
  
            <app-pdf-viewer></app-pdf-viewer>
          </div>
          </div>




<div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
  
          <div class="container">
            <app-clinicas-list-group></app-clinicas-list-group>

          </div>

        </div>



<div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
          <div class="container">
          
              
            </div>
        </div>




      </div>
    </div>
  </div> -->


   
</div>
</div>                        
  
      
      
                      </div>
                    </div>
                    <div class="col-span-12 md:col-span-5 xl:col-span-4">
                      <!-- <div class="border"> -->


                        <div class="border-b">
                        
                          <!-- <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider"> -->
                            <!-- Price -->
                  
                            <div class="wistia_responsive_padding" style="padding:100.0% 0 0 0;position:relative;">
                              <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;" *ngIf="!(data.name == 'SanCor 700A' || data.name == 'SanCor 800V')">
                                <iframe src="https://fast.wistia.net/embed/iframe/uxji6fv9k6?seo=false&videoFoam=true" title="4B. Descuento 15% Debito_POST Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe>
                              </div>
                              <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;" *ngIf="(data.name == 'SanCor 700A' || data.name == 'SanCor 800V')">
                                <!-- <iframe src="https://fast.wistia.net/embed/iframe/6wghyn126e?seo=false&videoFoam=true" title="promo18-30 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe> -->
                              </div>

                             
                            </div>
                            <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>                      
                           
                          </div>

                          
                          

                         
                        </div>

                        
                        
                        <!-- <div class="border-b p-1">
                          <ul class="service-info">
                            <li class="py-2 mr-2">
                              <div class="flex items-center">
                              
                                hhh
                              </div>
                            </li>
                            <li class="py-2 mr-2">
                             hhh
                            </li>
                            <li class="py-2 mr-2">
                             hhh
                            </li>
                          </ul>
                        </div>
                        <div class="border-b p-1">
                          
                          <div class="flex mt-2">
      
                           hhh
      
                          </div>
                          <div class="flex mt-4">
                            <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                              hhh
                            </div>
                            <div class="flex-grow">
                              
                            
                              <p class="mt-2">
                              hhh
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="border-b px-5 pt-10 pb-12 text-center">
                       hhh
                        </div> -->
                    <!-- </div> -->
                  </div>
                <!-- </div> -->
                
    </mat-dialog-content>    
   
 
    <!-- <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]>Cerrar</button>
    </mat-dialog-actions>   -->
  
          


            
           
 