// .footer {
//     background-color: #000000;
// }

// ._nav {
//     &__link {
//         margin-right: 30px;
//         &:last-child {
//             margin-right: 0;
//         }
//     }
// }
/* desktop only */
/* desktop only .end */
/* ================ SECTION-FOOTER ==================  */
.section-footer ul li {
  margin-bottom: 5px;
}
.section-footer ul a {
  color: inherit;
}
.section-footer ul a:hover {
  color: #3167eb;
}
.section-footer .logo-footer {
  height: 40px;
}
.section-footer .title {
  font-weight: 600;
  margin-bottom: 16px;
  color: #212529;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
    background: none repeat scroll 0 0 #393939;
    border-top: 8px solid #218bd6;
  }
  
  .footer .footer-logo img {
    margin: 30px auto;
  }
  
  .footer table {
    margin-bottom: 20px;
  }
  
  
  
  .footer table thead {
    border-bottom: 1px solid #898989;
  }
  
  .footer table thead td {
    padding-bottom: 20px;
  }
  
  .footer table td {
    padding-left: 35px;
    width: 300px;
  }
  
  
  
  .footer table tbody td ul {
    padding-left: 0;
    margin-left: 0;
    padding-top: 20px;
  }
  
  .footer table tbody td ul li:first-child {
    margin-bottom: 10px;
  }
  
  .footer table tbody td ul li {
    list-style: outside none none;
  }
  
  .footer table tbody td ul.social {
    padding-top: 0;
  }
  
  .footer table tbody td ul.social li {
    display: inline-block;
    height: 40px;
    margin: 1px;
    width: 40px;
    display: block;
    float: left;
  }
  
  .footer table tbody td ul.social li:first-child {
    margin-bottom: 0;
  }
  
  .footer table tbody td ul li strong, .footer table tbody td p strong {
    color: #ffffff;
  }
  
  .footer table tbody td ul.social li a {
    display: block;
    height: 40px;
    width: 40px;
  }
  
  .footer table tbody td ul.social li.twitter a {
    // background: url("../../img2.acierto.com/css/r/images/social-sprite.png");
    background-position: 10px 0;
    background-repeat:no-repeat;
  }
  
  .footer table tbody td ul.social li.youtube a {
    // background: url("../../img2.acierto.com/css/r/images/social-sprite.png");
    background-position: -30px 0;
    background-repeat:no-repeat;
  }
  
  .footer table tbody td ul.social li.facebook a {
    // background: url("../../img2.acierto.com/css/r/images/social-sprite.png");
    background-position: 10px -40px;
    background-repeat:no-repeat;
  }
  
  .footer table tbody td ul.social li.google a {
    // background: url("../../img2.acierto.com/css/r/images/social-sprite.png");
    background-position: -30px -40px;
    background-repeat:no-repeat;
  }
  
  .footer table tbody td ul.social-clients {
    padding-top: 0;
  }
  
  .footer table tbody td ul.social-clients li {
    display: inline-block;
    display: inline;
    float: left;
    list-style: outside none none;
    margin-right: 10px;
  }
  
  
  .footer table td, .footer table a {
    color: #dddddd;
    font-size: 13px;
    vertical-align: baseline;
  }
  
  .footer .copyright {
    background: none repeat scroll 0 0 #2a2a2a;
    text-align: center;
  }
  
  .footer .copyright p {
    color: #979797;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  body .container {
    width: 1024px;
  }
  
  @media (min-width: 1200px) {
    body .container {
      width: 1024px;
    }
  }
  @media print {
    body *, #main * #footer{ display:none; }
    #main, #main #printarea, #main #printarea * { display:block; }
 }
  