<mat-toolbar class="mat-toolbar-input-search {{this.itemsService.itemsSelected.length < 2 ? 'toggle-show' : 'toggle-hide'}}">
    <mat-toolbar-row class="mat-toolbar-row-input-search">
        <app-input-search (textChange)="onTextChange($event)" (textClear)="onTextClear()" debounceTime=200></app-input-search>
    </mat-toolbar-row>
</mat-toolbar>



<cdk-virtual-scroll-viewport #scroller itemSize="72" class="content {{this.itemsService.itemsSelected.length < 2 ? 'toggle-show' : 'toggle-hide'}}">
    <mat-list>
        <ng-container *cdkVirtualFor="let item of this.itemsService.items">
            <mat-list-item>
                <img matListAvatar [src]="item.images[1]">
                <div class="mat-list-item-item">{{item.name}}</div>
                <button mat-raised-button class="compare-button" (click)="selectToCompare(item)">Comparar</button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </ng-container>
    </mat-list>
</cdk-virtual-scroll-viewport>

<div class="product-comparison-list-b-{{this.itemsService.items.length > 0 ? 1 : 0}}">
    <mat-list>
        <ng-container *ngFor="let item of this.itemsService.itemsSelected; let i = index">
            <mat-list-item>
                <img matListAvatar [src]="item.images[1]">
                <h3 matLine><b>ITEM {{i+1}} SELECCIONADO:</b> {{item.name}}</h3>
                <button mat-icon-button (click)="removeSelectedItem(item)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </ng-container>
    </mat-list>
    <div class="product-comparison-list-buttons-b">
        <div class="product-comparison-list-status" *ngIf="this.itemsService.itemsSelected.length === 0">
            Ningún item seleccionado para comparar
        </div>
    </div>
</div>
<br>

<cdk-virtual-scroll-viewport itemSize="72" class="comparison-report-virtual-scroll-b" *ngIf="this.itemsService.itemsSelected.length > 1">
    <div class="example-container">
        <table mat-table matSort matTableResponsive [dataSource]="this.itemsService.report" >

        <!-- Feature Column -->
        <ng-container matColumnDef="feature">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>⚙️ FEATURE </th>
            <td data-column-name="CARACTERÍSTICA" mat-cell *matCellDef="let element"> {{element.feature}} </td>
        </ng-container>
    
        <!-- Item 1 Column -->
        <ng-container matColumnDef="item_1_value_name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>📦 ITEM 1 </th>
            <td data-column-name="ITEM 1" mat-cell *matCellDef="let element"> {{element.item_1_value_name}} </td>
        </ng-container>
    
        <!-- Item 2 Column -->
        <ng-container matColumnDef="item_2_value_name">
            <th mat-header-cell *matHeaderCellDef>📦 ITEM 2 </th>
            <td data-column-name="ITEM 2" mat-cell *matCellDef="let element"> {{element.item_2_value_name}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</cdk-virtual-scroll-viewport>
