<div class="features">

    <div class="container">
        <div class="row">
            <ul class="features-list" style="border-bottom: none;">
                <li>
                    <img src="https://img1.acierto.com/css/r/images/icn_thumb_gr.png" width="58" alt="Sello Garantía" class="img-responsive">
                    <p><span>Mejor Precio</span> Garantizado</p>
                </li>
                <li>
                    <img src="https://img2.acierto.com/css/r/images/icn_bills_gr.png" width="58" alt="Ahorro" class="img-responsive">
                    <p><span>Sin costes y</span> sin compromiso</p>
                </li>
                <li>
                    <img src="https://img3.acierto.com/css/r/images/icn_watch_gr.png" width="58" alt="Cronómetro" class="img-responsive">
                    <p><span>Inmediato:</span> Sólo 3 minutos</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="clients">
            <div class="row">
                <div class="col-sm-12">
                    <h2>El comparador de seguros independiente con más aseguradoras</h2>
                    <div class="aseguradoras">

                        <ul>

                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/axa-seguros/" class="reducir"><img src="https://img2.acierto.com/mi-acierto/img/providers/axa-s.svg" alt="AXA Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/mapfre-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/mapfre-s.svg" alt="MAPFRE Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/mutua-madrilena/"><img src="https://img2.acierto.com/mi-acierto/img/providers/mutua-madrilena-s.svg" alt="Mutua Madrileña"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/direct-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/direct-s.svg" alt="Direct Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/verti/"><img src="https://img2.acierto.com/mi-acierto/img/providers/verti-s.svg" alt="Verti"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/fenix-directo-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/fenix-directo-s.svg" alt="Fenix Directo"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/mmt-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/mmt-s.svg" alt="MMT Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/nuez-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/nuez-s.svg" alt="Nuez Seguros"></a>
                            </li>

                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/seguros-coche/linea-directa-aseguradora/"><img src="https://img2.acierto.com/mi-acierto/img/providers/linea-directa-s.png" alt="Linea Directa"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/allianz-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/allianz-s.svg" alt="Allianz Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/zurich-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/zurich-s.svg" alt="Zurich Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/qualitas-auto/"><img src="https://img2.acierto.com/mi-acierto/img/providers/qualitas-s.svg" alt="Qualitas Auto"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/reale-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/reale-s.svg" alt="Reale Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/pelayo-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/pelayo-s.svg" alt="Pelayo Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/regal-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/regal-s.svg" alt="Regal"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/balumba-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/balumba-s.svg" alt="Balumba"></a>
                            </li>

                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/adeslas/"><img src="https://img2.acierto.com/mi-acierto/img/providers/adeslas-s.svg" alt="Adeslas"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/sanitas/" class="reducir"><img src="https://img2.acierto.com/mi-acierto/img/providers/sanitas-s.svg" alt="Sanitas"></a>
                            </li>
                            <li>
                                <a href="https:://precios.lasaludestodo.com.ar/asisa/"><img src="https://img2.acierto.com/mi-acierto/img/providers/asisa-s.svg" alt="Asisa"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/dkv-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/dkv-s.svg" alt="DKV Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/aegon/"><img src="https://img2.acierto.com/mi-acierto/img/providers/aegon-s.svg" alt="Aegon"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/fiatc-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/fiatc-s.svg" alt="Fiatc Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/nectar-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/nectar-s.svg" alt="Nectar Seguros"></a>
                            </li>
                            <li>
                                <a href="https://precios.lasaludestodo.com.ar/plus-ultra-seguros/"><img src="https://img2.acierto.com/mi-acierto/img/providers/plusultra-s.svg" alt="Plus Ultra"></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- clientss -->
    </div>