
<!-- <script src="pagination.js"></script>
<div key={product.id}>
<div class="grid grid-cols-12 gap-4 xxl:gap-6">
<div *ngFor="let product of products" class="col-span-12 md:col-span-4 xl:col-span-4">
<mat-card class="ll-product">
  <div [ngClass]="product.compare ? 'product compare' : 'product'">
<img mat-card-image [src]="product?.images[0]" alt="{{ product.nombre }}" style="width: 100%; margin: 0" />
<div class="image_overlay">
</div>

</div>
<mat-card-content class="flex">

  <div class="flex-grow pl-3">

    <h4 class="ll-product__creator"></h4>

    <h2 class="ll-product__name">
      <a>{{ product.nombre }}</a>
    </h2>
    <div class="flex justify-between mt-5">
      <div class="ll-product__price-label" #compararButon></div>
      <div class="ll-product__price text-accent font-bold"></div>
    </div>
  </div>
  <div class="view_details" (click)='toggleCompare()'>
    {{product.compare ? "Compare Clinicas y Sanatorios" : ""}}
  </div>
</mat-card-content>

<mat-card-actions class="ll-product__action flex justify-between">
  <div class="flex-1 text-center flex items-center justify-center">
    
    <mat-icon color="warn">star</mat-icon> {{ product.rating }}/5
    <button (click)='toggleCompare()'  mat-raised-button color="warn" class="px-4">{{comparar}}</button>
</div>
  <div class="flex-1 text-center">
    <button (click)="openDialog(product)" mat-raised-button color="warn" class="px-4">Más Detalles</button>
    <a [routerLink]="['/products', product.id]" mat-raised-button color="warn" class="px-4">Más Detalles</a>

       </div>
</mat-card-actions>

</mat-card>



</div> -->

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Rapid Delivery</th>
      <th>Price</th>
      <th>Family</th>
      <th>Origin</th>
      <th>Size</th>
      <th>description</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td (click)="add.emit(product)">{{product.title}}</td>
      <td>{{product.category}}</td>
      <td>{{product.rapidDelivery}}</td>
      <td>{{product.price}}</td>
      <td>{{product.family}}</td>
      <td>{{product.origin}}</td>
      <td>{{product.size}}</td>
      <td>{{product.description | slice:0:100}}</td>
      

    </tr>
  </tbody>
</table>
