
<div class="row justify-content-center surface-card shadow-2 border-round contenedor-responsivo " style="margin-right:-23px">
  <div [ngClass]="product.compare ? 'product compare' : 'product'">
    <div class="card shadow-0 border rounded-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-4 col-xl-4 mb-4 mb-lg-4">
          <div style="margin:-12px;padding-top:20px">
            <img *ngIf="product.images && product.images.length > 0" src="{{product.images[0].url}}" alt="{{ product.name }}" class="w-100">
            <!-- <a href=""> -->
          <!--     <div class="hover-overlay">[]
                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
              </div> -->
            <!-- </a> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 border-2 border-dashed surface-border">
          <h5>{{ product.name }}</h5>
          <div class="d-flex flex-row">
            <p-rating [readonly]="true" [cancel]="false"></p-rating>
            <span>{{product.precio}}</span>
          </div>
          <p-divider></p-divider>
        </div>
        <div class="col-md-6 col-lg-2 col-xl-2 border-sm-start-none border-start">
          <div class="d-flex flex-row align-items-center mb-1">
            <h4 class="mb-1 me-1">{{product.precio}}</h4>
            <span class="text-danger"><s>{{product.price}}</s></span>
          </div>
          <h6 class="text-success"><span>{{product.precio}}</span></h6>
          <div class="d-flex flex-column mt-4">
          <button (click)="openDialog(product)" class="btn btn-outline-primary btn-sm mt-2" type="button">Detalles</button>
          <button (click)='toggleCompare()' class="btn btn-outline-primary btn-sm mt-2" type="button"> {{product.compare ? "Remover" : "Comparar"}}
          </button>
            <!-- <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button> -->

          </div>
        </div>
       
      </div>
      
    </div>
  </div>
</div>
</div>

