<mat-dialog-content >                          
  <mat-tab-group animationDuration="0ms" color="primary" backgroundColor="primary">
<mat-tab label="Clinicas/Sanatorios"><div class="container">
  <app-clinicas-list-group></app-clinicas-list-group>
</div>
</mat-tab>
      <mat-tab label="Folleto">
        <div class="container">
          <!-- <app-pdf-viewer></app-pdf-viewer> -->
        </div>
      </mat-tab>
</mat-tab-group>              
    </mat-dialog-content>    
    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]>Cerrar</button>
    </mat-dialog-actions>     