<div class="_hero pb-10 mt-32 overflow-hidden">
  <div class="container">
    <div class="_hero__content px-12 text-white">
      <div class="grid grid-cols-12 relative z-12">
        <div class="col-span-12 md:col-span-7 xl:col-span-8 xxl:col-span-9 py-16">
          <h2 class="font-medium"></h2>
          <a (click)="openModal('custom-modal-1')" mat-raised-button color="warn"
            class="mt-8 px-8 py-3 text-lg font-semibold">Cotizar</a>
            <!-- <a (click)="openForm('custom-modal-5')" mat-raised-button color="warn"
            class="mt-8 px-8 py-3 text-lg font-semibold">Cotizar</a>
            <jw-modal id="custom-modal-5">
          
              <app-hero-form></app-hero-form>
            </jw-modal> -->
          <!-- <jw-modal id="custom-modal-1">
            <app-cotizar-form></app-cotizar-form> -->
            <!-- <div class="modal-dialog modal-dialog-centered">

              <div class="modal-content">

                <div class="modal-header">

                  <h5 class="modal-title" id="exampleModalLabel">Grupo Familiar</h5>
                  <button (click)="closeModal('custom-modal-1');">Close</button>

                </div>






                <div class="modal-body">
                  <div class="form-group">
                    <label for="">Elegir Prepaga</label>
                    <select class="form-control" id="empresa_prepaga" name="empresa_prepaga">
                      <option selected value=0>Todas</option>
                      <option value=1>SanCor Salud</option>
                      <option value=2>Galeno</option>
                      <option value=3>Premedic</option>
                      <option value=4>Omint</option>
                      <option value=5>Omint</option>
                      <option value=6>Avalian</option>
                      <option value=7>Prevencion Salud</option>
                      <option value=8>Ospoce Integral</option>
                      <option value=9>Medife</option>
                      <option value=10>Swiss Medical</option>
                    </select>
                  </div>
                  <div class="row ">

                    <div class="col-4">

                      <label for="">Edad del Titular</label>
                      <select class="form-control" id="edad_1" name="edad_1">
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                      </select>
                    </div>


                    <div class="col-4">
                      <label for="">Edad del Conyuge</label>
                      <select class="form-control" id="edad_2" name="edad_2">
                        <option value="0">0</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label for="">Hijos</label>
                      <select class="form-control" id="numkids" name="numkids">
                        <option value=0>0</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                      </select>
                    </div>

                  </div>

                  <br> -->
                  <!------------------------tipo DIV start ----------------------->

                  <!-- <div class="form-group">
                    <label for="">Tipo de asociado</label>
                    <select class="form-control" id="tipo" name="tipo">
                      <option value="P">Particular</option>
                      <option value="M">Monotributo</option>
                      <option value="D">Relacion de dependencia</option>
                      <option value="I">Responsable Inscripto</option>
                    </select>
                  </div> -->
                  <!------------------------tipo DIV end ----------------------->

                  <!------------------------desregulado DIV start ----------------------->
                  <!-- <div class="form-group" id="desreguladoDiv">

                    <div class="form-check">

                    </div>

                    <div class="form-check">

                    </div>

                    <div class="form-check">

                      <input class="form-check-input" type="radio" onchange="displayRadioValue()" name="aporteOS"
                        value="Sueldo Bruto" id="flexRadioDefault3">
                      <label class="form-check-label"> Sueldo Bruto </label>

                    </div>

                    <div class="form-check">

                      <input class="form-check-input" type="radio" onchange="displayRadioValue()" name="aporteOS"
                        value="Aporte Obra Social" id="flexRadioDefault4" checked>
                      <label class="form-check-label"> Aporte Obra Social</label>

                    </div>

                    <div class="input-group mb-3" id="sueldoyaportesDiv">

                      <span class="input-group-text" id="result"></span>
                      <span class="input-group-text">$</span>
                      <input type="text" class="form-control" id="sueldo" name="sueldo">

                    </div>

                    <div id="calculosueldo"></div>



                  </div> -->

                  <!------------------------------desregulado DIV end ----------------------->
                  <!------------------------------monotributo AD-DIV start ----------------------->
<!-- 
                  <div class="form-check form-check-inline" id="monoadicDiv">

                    <br>

                    <label class="form-check-label" for="monoadic">check si adem&aacute;s hay Aportes a Monotributo
                      ?</label>

                    <input class="form-check-input" type="checkbox" id="monoadic" value="monoadic">

                    <br>

                  </div> -->
                  <!------------------------------monotributo AD-DIV end ----------------------->
                  <!------------------------------monotributoDIV start ----------------------->
                  <!-- <div class="form-group" id="monotributoDiv">

                    <label for="">Cantidad de Aportantes al Monotributo</label>
                    <select class="form-control" id="cantAport" name="cantAport">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div> -->

                  <!------------------------------monotributoDIV end ----------------------->

                  <!-- <br> -->
                  <!------------------------------bonificacionesDIV start----------------------->
<!-- 

                  <div class="form-check form-check-inline">
                    <br>
                    <label class="form-check-label" for="afinidadCheck">check si es con bonificaciones ?</label>
                    <input class="form-check-input" type="checkbox" id="afinidadCheck" value="monoadic">
                    <br>
                  </div>


                  <div class="form-group" id="bonAfinidadDiv">
                    <label for="">Afinidad Porcentaje de descuento</label>
                    <select class="form-control" id="bonAfinidad" name="bonAfinidad"
                      placeholder="Selecciona el Porcentaje correspondiente">
                      <option value=0>Selecciona el Porcentaje correspondiente</option>
                      <option value=0.05>5%</option>
                      <option value=0.10>10%</option>
                      <option value=0.15>15%</option>
                      <option value=0.20>20%</option>
                      <option value=0.25>25%</option>
                      <option value=0.30>30%</option>
                      <option value=0.40>40%</option>
                    </select>
                  </div> -->
                  <!------------------------------bonificacionesDIV end----------------------->
                  <!-- <br> -->

                  <!------------------------------suprasDIV start------------------------------>

                  <!-- <div class="form-check form-check-inline" id="agregarSuprasDiv">
                    <br>
                    <label class="form-check-label" for="supras">Agregar Supras</label>
                    <input class="form-check-input" type="checkbox" id="supras" value="supras">
                    <br>
                  </div> -->
                  <!------------------------------suprasDIV end------------------------------>
                  <!-- <br>
                  <br> -->

                  <!------------------------------segvidaDIV start------------------------------>

                  <!-- <div id="segurosVidaDiv">
                    <p>Seguro de Vida : </p>
                    <div class="form-check form-check-inline">

                      <input class="form-check-input" type="checkbox" id="segVidaTitular" value="segvida" checked>
                      <label class="form-check-label" for="segVidaTitular">Titular</label>
                    </div>
                    <div class="form-check form-check-inline" id="segvida1">
                      <input class="form-check-input" name="segurovidaconyuge" type="checkbox" id="segVidaConyuge"
                        value="segvida1" disabled>
                      <label class="form-check-label" for="segVidaConyuge">Conyuge</label>
                    </div>
                  </div> -->
                  <!------------------------------segvidaDIV end------------------------------>
                  <!-- <br> -->


                  <!------------------------------rangeDIV start----------------------------->
<!-- 
                  <div class="price-input">
                    <div class="field">
                      <span>Min</span>
                      <input type="number" class="input-min" value="0" id="input-min">
                    </div>
                    <div class="separator">-</div>

                    <div class="field">

                      <span>Max</span>

                      <input type="number" class="input-max" value="200000" id="input-max">

                    </div>

                  </div>
                  <div class="slider">
                    <div class="progress"></div>
                  </div>
                  <div class="range-input">
                    <input type="range" class="range-min" min="0" max="200000" value="0" step="500" id="range-min">
                    <input type="range" class="range-max" min="0" max="200000" value="200000" step="500" id="range-max">
                  </div> -->
                  <!------------------------------rangeDIV end----------------------------->

                  <!-- <br> -->
                  <!-----------------------------residenciaDIV start----------------------------->

                  <!-- <div class="form-group" id="residenciaDiv">
                    <label class="form-check-label" for="">Zona de residencia</label>
                    <select class="form-control" aria-label="Default select example" id="residencia">
                      <option selected>Ciudad Autonoma de Buenos Aires</option>
                      <option value="1">Gran Buenos Aires Norte</option>
                      <option value="2">Gran Buenos Aires Oeste</option>
                      <option value="3">Gran Buenos Aires Sur</option>
                      <option value="3">Buenos Aires</option>
                    </select>

                  </div> -->

                  <!-----------------------------residenciaDIV end----------------------------->
                  <!-----------------------------formDIV start----------------------------->
                  <!-- <form method="post" id="Myform">

                    <div class="form-group">

                      <label for="">Nombre</label>

                      <input class="form-control" type="text" id="nombre" name="nombre">

                      <div class="form-group">

                        <label for="">Telefono</label>

                        <input class="form-control" type="text" id="telefono" name="telefono">

                        <div class="form-group">

                          <label for="">Email</label>

                          <input class="form-control" type="email" id="email" name="email">

                        </div>

                      </div>

                      <div class="modal-footer">
                        <button (click)="onClick1()" class="btn btn-danger">Funcion 1</button>
                        <input type="submit" class="btn btn-primary" (click)="onClick1()" value="Consultar"
                          class="button btn btn-primary" data-bs-dismiss="modal" aria-label="Close">

                      </div>

                    </div>

                  </form> -->
                  <!-----------------------------formDIV end----------------------------->
<!-- 
                </div>

              </div>
            </div> -->

          <!-- </jw-modal> -->

        </div>
        <div class="md:col-span-12 xl:col-span-12 xxl:col-span-12 hidden md:flex"><img
            src="assets/images/saludablemente.png" alt="" /></div>
      </div>
      <!-- <ng-particles
        [id]="'product_hero'"
        class="_hero__particles hidden md:block"
        [options]="particlesOptions"
      ></ng-particles> -->
    </div>
  </div>
</div>