<div class="users-block-stars">
    <div class="container">
        <h2>¿Qué dicen nuestros usuarios de Acierto.com?</h2>
        <div class="col-sm-12 center-reviews">

            <div class="ekomi-users-box">
                <img class="media-object ekomi-img" src="https://img1.acierto.com/css/r/images/subhome/ekomi-hand.gif" alt="Joven">
                <span class="stars-ekomi" style="width: 100%"><img class="stars-review-img" src="https://img2.acierto.com/css/r/images/subhome/five_stars_half_big.png" alt="5 estrellas"></span>
                <span class="title-ekomi">Excelente</span>
                <span class="points-ekomi">9.6 / 10</span>
                <span class="reviews-ekomi">Basado en 4874 opiniones</span>
            </div>
        </div>
    </div>
</div>