<script async src="./assets/js/jquery-2.2.4.min.js"></script>
<script src="./assets/js/formularios-cotizar.js"></script>
<script src="./assets/js/funciones-queplan.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script defer src="./assets/js/prefixfree.min.js"></script>
<script defer src="./assets/js/modernizr-2.8.0.dev.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type='text/javascript' src='./assets/js/jquery/jquery.minaf6c.js?ver=3.6.0' id='jquery-core-js'></script>
<script type='text/javascript' src='./assets/js/jquery/jquery-migrate.mind617.js?ver=3.3.2' id='jquery-migrate-js'></script>
<script defer type='text/javascript' src="./assets/js/jquery.validate.min.js"></script>
<script defer type='text/javascript' src='./assets/js/jquery.mask.min8a54.js?ver=1.0.0'></script>

<script type='text/javascript' src='./assets/plugins/simple-share-buttons-adder/js/ssba1037.js?ver=1677985089' id='simple-share-buttons-adder-ssba-js'></script>




<body class="page-template page-template-page-simulador page-template-page-simulador-php page page-id-16">





<div class='banner-desktop' style='background-image: url(../assets/imagenes/banners/banner-cotea-gora.jpg)'><div class='corpo-banner'><p><strong>Ahorre hasta un 30% en un nuevo plan.</strong><br />
    <em>Cotizamos su Plan de Salud en<br />
    más de 50 operadoras</em></p>
    <a href='#1'  class="smooth-scroll">COTIZAR AHORA</a></div></div><div class='banner-mobile' style='background-image: url()'><div class='corpo-banner'><p><strong>Ahorre hasta un 30% en un nuevo plan.</strong><br />
    <em>Cotizamos su Plan de Salud en<br />
    más de 20 operadoras</em></p>
    <a  href='#1'  class="smooth-scroll">COTIZAR AHORA</a>
    </div></div>
    <div id="wrapper">

<article class="post" id="post-16">

    <div class="corpo-titulo">
        <h1 class='titulo-da-pagina'>Cotizar Ahora</h1>
        <p id="breadcrumbs"><span><span><a href="../index.html">Inicio</a></span> » <span class="breadcrumb_last" aria-current="page">Cotizar Ahora</span></span></p>     
          </div>

    <div class="entry">

        <div class="conteudo-da-pagina">
                        </div>

                        <div class='chamada-simulador '><p><strong>Elija</strong> a continuación su operadora y descubra el valor de <strong>su plan de salud</strong>.</p>
                            <p>¡Es rápido y aún así garantizamos el precio más bajo! Haga clic y compruébelo, somos socios de las mejores operadoras de Argentina.</p></div>
                        <!-- <link href="../../../../../assets/css/style-formularioSimuladorGeneral.css" rel="stylesheet" type="text/css"> -->
                        <div class="contador"><h3>Hoy más de <span id="contador"></span> personas solicitaron una simulación</h3></div>

                        <h2 class="passo-bandeiras" id="1">1º Paso: Selecione una empresa</h2>
                        
                        <div class="bandeiras" >
                 <img src="../assets/imagenes/logos-prepagas-190x110/todas-las-empresas.png" alt="Todos los Planes de Salud" title="Todos los Planes de Salud" data-id-operadora="Todos Los Planes" onclick="cambiarValor('11')" data-classe-operadora="multimarcas">
<img src="../assets/imagenes/logos-prepagas-190x110/galeno-logo-medicina-prepaga-planes-de-salud.png" alt="Galeno" title="Galeno" data-id-operadora="1" onclick="cambiarValor('Galeno')" data-classe-operadora="caixa-saude">
<img src="../assets/imagenes/logos-prepagas-190x110/omint-logo-medicina-prepaga-planes-de-salud.png" alt="Omint" title="Omint" data-id-operadora="2" onclick="cambiarValor('Omint')" data-classe-operadora="omint">
<img src="../assets/imagenes/logos-prepagas-190x110/hominis-logo-medicina-prepaga-planes-de-salud.png" alt="Hominis" title="Hominis" data-id-operadora="26" onclick="cambiarValor('Hominis')" data-classe-operadora="">
<img src="../assets/imagenes/logos-prepagas-190x110/premedic-logo-medicina-prepaga-planes-de-salud.png" alt="Premedic" title="Premedic" data-id-operadora="4" onclick="cambiarValor('Premedic')" data-classe-operadora="sao-cristovao">
<img src="../assets/imagenes/logos-prepagas-190x110/sancorsalud-logo-medicina-prepaga-planes-de-salud.png" alt="SanCor salud" title="SanCor Salud" data-id-operadora="19" onclick="cambiarValor('SanCor Salud')"  data-classe-operadora="amil">
<img src="../assets/imagenes/logos-prepagas-190x110/medife-logo-medicina-prepaga-planes-de-salud.png" alt="Medife" title="Medifé" data-id-operadora="8" onclick="cambiarValor('Medifé')" data-classe-operadora="notredame">
<img src="../assets/imagenes/logos-prepagas-190x110/swiss-medical-logo-medicina-prepaga-planes-de-salud.gif" alt="Swiss Medical" title="Swiss Medical" data-id-operadora="Swiss Medical" onclick="cambiarValor('6')" data-classe-operadora="biovida">
<img src="../assets/imagenes/logos-prepagas-190x110/avalian-logo-medicina-prepaga-planes-de-salud.png" alt="Avalian" title="Avalian" data-id-operadora="16" onclick="cambiarValor('Avalian')"data-classe-operadora="unimed">
<img src="../assets/imagenes/logos-prepagas-190x110/prevencion-salud-logo-medicina-prepaga-planes-de-salud.png" alt="Prevencion Salud" title="Prevencion Salud" data-id-operadora="Prevención Salud" onclick="cambiarValor('18')" data-classe-operadora="amil-one">
<img src="../assets/imagenes/logos-prepagas-190x110/doctored-logo-medicina-prepaga-planes-de-salud.gif" alt="Doctored" title="Doctored" data-id-operadora="27" onclick="cambiarValor('Doctored')" data-classe-operadora="omint">
<img src="../assets/imagenes/logos-prepagas-190x110/salud-central-logo-medicina-prepaga-planes-de-salud.png" alt="Salud Central" title="Salud Central" data-id-operadora="17" onclick="cambiarValor('Salud Central')" data-classe-operadora="omint">

</div>
<h2 class="passo-formulario"  >2º Completá el formulario</h2>
<form id="contact-form"  class="form-cotacao" action="../includes/contact_form.php" method="post">

<input class="campo-pagina" type="hidden" name="formulario-pagina" id="formulario-pagina" value="cotizar-ahora-formulario-completo">

 <input class="campo-operadora" type="hidden" name="Operadora" id="Operadora" value="Sin Selección">

 <div class="plano-selecionado">
     <p>Plan Selecionado:</p>
     <div class="recebe-img"></div>
 </div>

    <div class="tipo-de-plano">
        <p><strong>Quienes ingresan al plan?</strong></p>
        <input type="radio" id="individual" name="idCapitas" value="Individual"><b class="btn-vos"  >Vos </b>
        <input type="radio" id="pareja" name="idCapitas" value="Pareja"><b class="btn-pareja">Pareja</b>
        <input type="radio" id="indehijo" name="idCapitas" value="Individual Con Hijo/s"><b class="btn-vosehijo">Vos e hijo/s</b>
        <input type="radio" id="parehijo" name="idCapitas" value="Pareja e Hijo/s"><b class="btn-parejaehijo">Pareja e hijo/s</b>
    </div>
    <div class="row edades">
        <p class="edad-solo"><strong>Edad</strong></p><p class="edad-varios"><strong>Edades</strong></p>

        <div class="col-6 edad_1">
        
<span><input class="campo-edad" type="text" id="edad_1" name="edad_1" placeholder="Su edad"></span>
</div>
<div class="col-6 edad_2">
    <span><input class="campo-edad-pareja" type="text" id="edad_2" name="edad_2" placeholder="Edad pareja"></span>
</div></div>
<div class="row">
<div class="hijos_num">
<p><strong>Edades del/los hijo/s separadas por espacios</strong></p>
<div class="col-4">
    <span><input class="campo-edades-hijos" type="text" id="hijos_num" name="hijos_num" placeholder="cuantos hijos"></span>
</div>	</div>
</div>


    <div class="possui-plano" id="tiene-os">
        <p><strong>Consulta por cambio de Obra Social como empleado en relacion de dependencia?</strong></p>
        <input type="radio" id="con-os" name="poseeOS" value="Desregulado"><b class="btn-con-os">Si</b>
        <input type="radio" id="sin-os" name="poseeOS" value="Particular"><b class="btn-sin-os">No</b>
    </div>


    <div class="possui-cnpj">
        <p><strong>Cúal como empleado o monotributista?</strong></p>
        <input type="radio" id="rel-os" name="cualOS" value="Emplado"><b class="btn-rel-os">Relacion de dependencia</b>
        <input type="radio" id="mon-os" name="cualOS" value="MOnotributo"><b class="btn-mon-os">OS del Monotributo</b>
        <!-- <input type="radio" id="sim_cnpj" name="cualOS" value="ambas"><b class="btn-ambos">Ambos</b> -->

    </div>

    <div class="row sueldo">
        <p><strong>Ingresa el importe de tu sueldo Bruto (sin descuentos)</strong></p>

        
<span><input class="campo-sueldo" type="text" name="sueldo" id="sueldo" placeholder="Sueldo Bruto ( antes de los descuentos) "></span>

</div>
<div class="row monotributo">
    <div class="col-6">
<span><input class="campo-categoria-mon" type="text" name="categoriaMono" id="categoriaMono" placeholder="Categoria Monotributo"></span>
</div>
<div class="col-6">

<span><input class="campo-cant-aport-mon" type="text" name="aportantesMono" id="aportantesMono" placeholder="Cantidad de Aportantes"></span>
</div></div>
<div  class="datos-contacto" id="datos-contacto">

    <div style="clear:both;"></div>

    <p><strong>Necesitamos sus datos de contacto para enviar la cotización:</strong></p>

    <span><i>Nombre Completo</i><input class="campo-nome" type="text" name="Name"  id="Name"  placeholder="Su nombre"></span>
    <div class="telefono">

        <!-- <div class="col-6 edad_1">
        
    <span><i>Prefijo</i><input class="campo-Prefijo" type="tel"  id="Prefijo" name="Prefijo" placeholder="Ej: 11"></span>

</div> -->
<div>
        <span><i>Teléfono</i><input class="campo-telefone" type="tel"  id="Telefone" name="Telefone" placeholder="Ej:11 65924325"></span>

</div></div>

    <span><i>E-mail</i><input class="campo-email" type="email"  id="email" name="email" placeholder="Ej: cotizar@queplan.ar"></span>
    </div>
    <div class="alert"></div>
    <input type="submit" onclick="finalizar('.form-cotacao')" value="RECIBIR COTIZACIÓN">
    <br><br><br>
    <div class="loader" style="display: none;"></div>

</form>
<script type="text/javascript" src="../assets/js/formularios-cotizar.js"></script>


                 
                        
                          
                        
                          
                            </div>
                        
                       
                
                                  

                        <div class="camada-plantao-e-whats">
                        
                            <div class="corpo">
                        
                                <div class="chamada-principal">
                                    <h2>Planes con el mejor precio con amplias coberturas.</h2>
                                    <p>Negociamos com as principais operadoras do mercado para oferecer os Mejores Planes de saúde com o melhor custo benefício.</p>
                                </div>
                        
                        
                                <div class="elementos">
                                    <div class="plantao">
                        
                                        <h3>Horario de ventas</h3>
                                        <h4>Consulte los precios de los planes de salud por teléfono:</h4>
                        
                                        <a href="tel:01125608600"><img src="../formularios/formulario-whatsapp/icone-telefone.svg"> (11) 2560-8600</a>
                        
                                        <div class="lista-vantagens">
                                            <h5>Conoce nuestras ventajas:</h5>
                                            <ul>
                                                <li>Planes por el mejor precio.</li>
                                                <li>Atención Médica de Primer Nivel.</li>
                                                <li>Mínimas carencias.</li>
                                                <li>Red amplia y calificada de proveedores.</li>
                                            </ul>
                                            <ul>
                                                <li>Lo mejor de la medicina.</li>
                                                <li>Cotizaciones rápidas y fáciles.</li>
                                                <li>Más servicios, más agilidad.</li>
                                                <li>Gratuito y sin compromiso.</li>
                                            </ul>
                                        </div>
                                       </div>
                        
                        
                        
                                       <form id="contact-form-whats" class="form-whats" action="../includes/contact_form-whatsapp.php" method="post">
                                        <h3><img src="../formularios/formulario-whatsapp/icone-whatsapp.svg">Cotice por WhatsApp</h3>
                                        <input class="campo-ID-formulario" type="hidden" name="ID-formulario" id="ID-formulario" value="Cotizas Ahora">
                                    
                                        <div><b>Nombre:</b><input type="text" id="name" name="name" placeholder="Su nombre"></div>
                                    
                                        <div>
                                            <!-- <div><b>Prefijo:</b><input type="tel" id="prefijo" name="prefijo" placeholder="Pref."></div> -->
                                            <div><b>Teléfono:</b><input type="tel" id="telefone" name="telefone" placeholder="Teléfono"></div>

                                        </div>
                                    
                                        <input type="submit" onclick="finalizarWhats('#contact-form-whats')" value="SOLICITAR ESTIMACIÓN">
                                        <span class="loader-whats"></span>

                                    </form> 
                                    
                        
                                      
                                </div>
                            </div>
                        </div>
                        <div class="chamada-final-operadoras">
                            <h3>¡Igualamos cualquier presupuesto!</h3>
                            <p>Ciudad y Provincia</p>
                            <p>La disponibilidad y las condiciones del plan varían según la ubicación en la que reside.</p>
                            <p>Siempre negociamos lo mejor para usted. Ahorre.</p>
                        </div>
                        
                                    
                              
                        
                          
                        
                        
                            <div style="clear:both;"></div>
                        
                        
                   
                        
                                <!-- <div class="footer-new">
                        
                                    <div>
                        
                                        <div class="col">
                                            <a class="logo" href="../index.html"><img src="../assets/imagenes/logos-web/plan-de-salud-vos-te-mereces-lo-mejor-logo-movil.png" alt="Plan de Salud" title="Plan de Salud"></a> <p>Somos Socios de Ventas de las Mayores Operadoras de Argentina. Aquí puedes Cotizar tu Plan de Salud y Ahorrar hasta un 30% en la Contratación de un Nuevo Plan. ¡Todo en línea, al instante y sin burocracia!</p>                </div>
                        
                                        <div class="col">
                                            <a class='telefone' target='_blank' href='tel:01125608600'>(11) 2560-8600</a>
                                            <a class="numero-whatsapp" href="https://api.whatsapp.com/send?phone=5491130708070&amp;text=Hola,%20estoy%20en%20el%20site%20Plan%20de%20Salud%20(https://www.queplan.ar/cotizar-ahora/)%20e%20quisiera%20me%20que%20me%20brinde%20más%20información." target="_blank">Reciba por WhatsApp</a>
                                            <p>Atendemos: Lunes a Sábados de 9h a 20h</p>
                                        </div>
                                        
                                </div>
                        

                        <footer id="footer">
                            <div id="corpo-rodape">
                                                    </div>
                        
                            <div class="copy">
                                <p>&copy;2023 Major Plan</p>
                                <p class="endereco"></p>
                            </div>
                        </footer> -->
                        
                        <script type='text/javascript' src='../assets/plugins/simple-share-buttons-adder/js/ssba1037.js?ver=1677985089' id='simple-share-buttons-adder-ssba-js'></script>
                        <script type='text/javascript' id='simple-share-buttons-adder-ssba-js-after'>
                        Main.boot( [] );
                        </script>
    
<script>
//   $(document).ready(function() {
//   $('.form-cotacao').submit(function(event) {
//     console.log('Form submitted');
//     event.preventDefault();
//     $('#feedback').html('');
//     var Pagina_y_Formulario = $('formulario-pagina').val();
//     var Prepaga_Elegida = $('#Operadora').val();
//       var Grupo_Familiar = $('input[name="idCapitas"]:checked').val();
//       var Edad_Titular = $('#edad_1').val();
//       var Edad_Pareja = $('#edad_2').val();
//       var Edades_Hijos = $('#hijos_num').val();
//       var Tipo_Asociado = $('input[name="poseeOS"]:checked').val();
//       var Tipo_Desregulado = $('input[name="cualOS"]:checked').val();
//       var Sueldo = $('#sueldo').val();
//       var Categoria_Monotributo = $('#categoriaMono').val();
//       var Familiares_que_Aportan = $('#aportantesMono').val();
//       var Nombre = $('#Name').val();
//       var Prefijo = $('#Prefijo').val();
//       var Telefono = $('#Telefone').val();
//       var email = $('#email').val();
//     // Obtener datos del formulario
//     var data = {
//         'entry.1971212034':Pagina_y_Formulario,
//        'entry.1788353276':Prepaga_Elegida,
//        'entry.2032223983':Grupo_Familiar,
//        'entry.1763723729':Edad_Titular,
//        'entry.1779532345':Edad_Pareja,
//        'entry.1112113610':Edades_Hijos,
//        'entry.632598661':Tipo_Asociado,
//        'entry.1404611772':Tipo_Desregulado,
//        'entry.1404611772':Sueldo,
//        'entry.472026566':Categoria_Monotributo,
//        'entry.38288768':Familiares_que_Aportan,
//        'entry.1508322728':Nombre,
//        'entry.527309604':Prefijo,
//        'entry.1813933214':Telefono,
//        'entry.710988652':email
//     };



//     console.log(data);

//     $.ajax({
//       url: 'https://docs.google.com/forms/d/e/1FAIpQLSfd5MmQlkg_HQzLoquOiakVNxyRIP4XAs7l4zjEUMcOVtDEFw/formResponse',
//       type: 'POST',
//       data: data,
//       dataType: 'xml',
//       success: function(response) {
//         // La solicitud se realizó correctamente, los datos se han enviado al formulario de Google Forms
//         console.log('Enter on success');
//         $('#feedback').html('<label class="text-success">Message sent!</label>');
//       },
//       error: function(error) {
//         // Ocurrió un error al realizar la solicitud
//         console.log('Enter on error');
//         console.log(error); // Muestra el objeto de error en la consola
//       }
//     });
//   });
// });


</script>    
<script>

(function (jQuery) {

jQuery(document).ready(function(){

// jQuery.validator.addMethod("numbersPhone", function (value) {
// 	// após o DDD, eu pedo os 4 primeiros numeros do telefone
// 	var numbersFiltered = value.substring(0,4);
// 	console.log(numbersFiltered)
// 	if ( numbersFiltered === '0000' ) { return false; } else { return true;	};
// }, "Telefone Inválido");

// jQuery("#form").validate({

// rules:{
// idCapitas:{required: true},
// poseeOS:{required: true},
// nome:{required: true},
// email:{required: true,email: true},
// ddd:{required: true,rangelength: [2,3]},
//telefone:{required: true,minlength: 9, numbersPhone: true}
// telefone:{required: true,minlength: 9}
// },

// messages:{
// idCapitas:{required: "Seleccione una opción"},
// poseeOS:{required: "Seleccione una opción"},
// nome:{required: "El campo Nombre es necesario"},
// email:{required: "O campo EMAIL é obrigatório",email: "Informe um EMAIL válido"},
// ddd:{required: "O campo DDD é obrigatório"},
// telefone:{required: "O campo TELEFONE é obrigatório"}
// },

// });

jQuery(".bandeiras img").click(function(){
var srcImagem = jQuery(this).attr("src");
var idOperadpra = jQuery(this).attr("data-id-operadora");
jQuery('.recebe-img img').remove();
jQuery('.recebe-img').append('<img src="'+srcImagem+'">').attr('id', jQuery(this).data("classe-operadora"));
jQuery(".campo-operadora").val(idOperadpra);
jQuery(".plano-selecionado").fadeIn();
});


// TIPO DO PLANO
jQuery(".hijos_num").hide();
jQuery(".campo-edad").hide();
jQuery(".campo-edad-pareja").hide();
jQuery(".edad-varios").hide();
jQuery(".edad-solo").hide();
jQuery(".sueldo").hide();
jQuery(".monotributo").hide();
jQuery(".possui-plano").hide();
jQuery(".possui-cnpj").hide();


jQuery('.btn-vos').click(function() {
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[0].checked = true;
jQuery(".hijos_num").fadeOut();
jQuery("#idCapitas-error").fadeOut();

jQuery(".edad-varios").fadeOut();

jQuery(".campo-edad").fadeIn(function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".campo-edad").offset().top - (jQuery(window).height() / 2)
  }, 1000);    
});

jQuery(".edad-solo").fadeIn();
jQuery(".campo-edad-pareja").fadeOut();




});

jQuery('.btn-pareja').click(function() {
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[1].checked = true;
jQuery(".hijos_num").fadeOut();
jQuery("#idCapitas-error").fadeOut();

jQuery(".edad-varios").fadeIn();
jQuery(".campo-edad-pareja").fadeIn();
jQuery(".campo-edad").fadeIn(function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".campo-edad-pareja").offset().top - (jQuery(window).height() / 2)
  }, 1000);
});    jQuery(".edad-solo").fadeOut();




});

jQuery('.btn-vosehijo').click(function() {
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[2].checked = true;
jQuery(".hijos_num").fadeIn();
jQuery("#idCapitas-error").fadeOut();
jQuery(".edad-varios").fadeIn();
jQuery(".edad-solo").fadeOut();

jQuery(".campo-edad-pareja").fadeOut();
jQuery(".campo-edad").fadeIn(function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".campo-edades-hijos").offset().top - (jQuery(window).height() / 2)
  }, 1000);
});




});

jQuery('.btn-parejaehijo').click(function() {
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[3].checked = true;
jQuery(".hijos_num").fadeIn();
jQuery("#idCapitas-error").fadeOut();
jQuery(".edad-varios").fadeIn();
jQuery(".edad-solo").fadeOut();

jQuery(".campo-edad-pareja").fadeIn();
jQuery(".campo-edad").fadeIn(function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".campo-edades-hijos").offset().top - (jQuery(window).height() / 2)
  }, 1000);
});




});
jQuery('.campo-edad').on('input', function() {
jQuery(".possui-plano").fadeIn(function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".possui-plano").offset().top - (jQuery(window).height() / 2)
  }, 1000);
});

});


// SE POSSUI OPERADORA
//jQuery(".operadora").hide();
jQuery('.btn-con-os').click(function() {
jQuery(".possui-plano b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".possui-plano p").addClass('ok');
jQuery('input:radio[name=poseeOS]')[0].checked = true;
// jQuery(".possui-cnpj").fadeIn(function() {
//     jQuery('html, body').animate({
//         scrollTop: jQuery("#rel-os").offset().top - (jQuery(window).height() / 2)
//       }, 1000);
// });
jQuery(".sueldo").fadeIn(function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".sueldo").offset().top - (jQuery(window).height() / 2)
  }, 1000);
});
jQuery('.sueldo').on('input', function() {
jQuery('html, body').animate({
    scrollTop: jQuery(".campo-nome").offset().top - (jQuery(window).height() / 2)
  }, 1000);
});

jQuery("#poseeOS-error").fadeOut();
jQuery('.campo-nome').on('input', function() {
jQuery('html, body').animate({
        scrollTop: jQuery(".campo-telefone").offset().top - (jQuery(window).height() / 2)
      }, 1000);
});
});
jQuery('.campo-telefone').on('input', function() {
jQuery('html, body').animate({
        scrollTop: jQuery(".campo-email").offset().top - (jQuery(window).height() / 2)
      }, 1000);
});


jQuery('.btn-sin-os').click(function() {
jQuery(".possui-plano b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".possui-plano p").addClass('ok');
jQuery('input:radio[name=poseeOS]')[1].checked = true;
//jQuery(".operadora").fadeOut();
jQuery("#poseeOS-error").fadeOut();
jQuery(".possui-cnpj").fadeOut();
jQuery(".monotributo").fadeOut();
jQuery(".sueldo").fadeOut();

jQuery(".sueldo").hide();
jQuery(".monotributo").hide();
jQuery(".possui-cnpj b").removeClass('ativa');
jQuery(".possui-cnpj p").removeClass('ok');
jQuery('html, body').animate({
scrollTop: jQuery(".campo-nome").offset().top - (jQuery(window).height() / 2)
}, 1000);

});

// SE POSSUI CNPJ

jQuery('.btn-rel-os').click(function() {
jQuery(".possui-cnpj b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".possui-cnpj p").addClass('ok');
jQuery('input:radio[name=cualOS]')[0].checked = true;
jQuery("#cualOS-error").fadeOut();
jQuery(".sueldo").fadeIn();
jQuery(".monotributo").fadeOut();
jQuery(".datos-contacto").fadeIn();

});

jQuery('.btn-mon-os').click(function() {
jQuery(".possui-cnpj b").removeClass('ativa');
jQuery(this).addClass('ativa');
jQuery(".possui-cnpj p").addClass('ok');
jQuery('input:radio[name=cualOS]')[1].checked = true;
jQuery("#cualOS-error").fadeOut();
jQuery(".sueldo").fadeOut();
jQuery(".monotributo").fadeIn();
jQuery(".datos-contacto").fadeIn();

});
// AO CARREGAR A PÁGINA, VERIFICA SE TEM NA URL "INDIVIDUAL", "FAMILIAR" OU "EMPRESARIAL".
var url = window.location.href;
if(url.indexOf('btn-vos') > -1){
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(".btn-vos").addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[0].checked = true;
jQuery(".possui-cnpj").hide();
jQuery(".possui-cnpj p").removeClass('ok');
jQuery("#idCapitas").fadeOut();
}

if(url.indexOf('btn-pareja') > -1){
jQuery(".tipo-de-plano b, .possui-cnpj b").removeClass('ativa');
jQuery(".btn-pareja").addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[1].checked = true;
jQuery(".possui-cnpj").fadeIn();
jQuery("#idCapitas-error").fadeOut();
}

if(url.indexOf('btn-vosehijo') > -1){
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(".btn-vosehijo").addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[2].checked = true;
jQuery(".possui-cnpj").hide();
jQuery(".possui-cnpj p").removeClass('ok');
jQuery("#idCapitas-error").fadeOut();
}

if(url.indexOf('btn-parejaehijo') > -1){
jQuery(".tipo-de-plano b").removeClass('ativa');
jQuery(".btn-parejaehijo").addClass('ativa');
jQuery(".tipo-de-plano p").addClass('ok');
jQuery('input:radio[name=idCapitas]')[3].checked = true;
jQuery(".possui-cnpj").hide();
jQuery(".possui-cnpj p").removeClass('ok');
jQuery("#idCapitas-error").fadeOut();
}

jQuery(window).load(function (){

    if(jQuery(window).width() >=950) {
        jQuery('.bandeiras img').click(function(){
            jQuery("html, body").animate({ scrollTop: jQuery(".form-cotacao").offset().top - 120 }, 1000);
        });
    } else{
        jQuery('.bandeiras img').click(function(){
            jQuery("html, body").animate({ scrollTop: jQuery(".form-cotacao").offset().top }, 1000);
        });

       

        jQuery('.btn-sin-os').click(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 65 }, 1000);});
        jQuery('.btn-con-os').click(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 65 }, 1000);});
       
        jQuery('.btn-rel-os').click(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 65 }, 1000);});
        jQuery('.btn-mon-os').click(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 65 }, 1000);});


// jQuery('.sueldo').on('input', function() {

//     jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 45 }, 1000);

// });
        
        // function() {
        //     jQuery('html, body').animate({
        //         scrollTop: jQuery(".campo-edad").offset().top - (jQuery(window).height() / 2)
        //       }, 1000);
        // }
        jQuery('.campo-nome').focus(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 45 }, 1000);});
        jQuery('.campo-email').focus(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 45 }, 1000);});
        jQuery('.Prefijo').focus(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 45 }, 1000);});
        jQuery('.campo-telefone').focus(function(){jQuery("html, body").animate({ scrollTop: jQuery(this).offset().top - 45 }, 1000);});


        jQuery('.campo-nome, .campo-email, .Pefijo, .campo-telefone').focus(function(){
            jQuery(".margin-rodape").addClass("remove-altura-margin-rodape");
            jQuery(".telefones-rodape").addClass("remove-telefone-rodape");
        });

        jQuery('.campo-nome, .campo-email, .Prefijo, .campo-telefone').blur(function(){
            jQuery(".margin-rodape").removeClass("remove-altura-margin-rodape");
            jQuery(".telefones-rodape").removeClass("remove-telefone-rodape");
        });

    }

});





// jQuery(".campo-edad").fadeIn(function() {
//     document.querySelector(".campo-edad").scrollIntoView({ behavior: 'smooth', block: 'center' });

// });


// jQuery(".campo-edad").fadeIn(function() {
//     jQuery('html, body').animate({
//         scrollTop: jQuery(".campo-edad").offset().top - (jQuery(window).height() / 2)
//       }, 1000);
// });



















// MÁSCARAS
// jQuery("#ddd").mask("900");
// jQuery("#Telefone").mask("90000-0000", {reverse: true});
// jQuery("#cpf").mask("000.000.000-00");
// jQuery("#cnpj").mask("00.000.000/0000-00");


function salvaCookies(){
setCookie('data_lead_operadora', jQuery('.campo-operadora').val(), 3);
setCookie('data_lead_tipo', jQuery('input[name=idCapitas]:checked').val(), 3);
setCookie('data_lead_possui_cnpj', jQuery('input[name=poseeOS]:checked').val(), 3);
setCookie('data_lead_possui_plano', jQuery('input[name=poseeOS]:checked').val(), 3);
setCookie('data_lead_quantidade_pessoas', jQuery('select[name=qntPessoas] option').filter(':selected').val(), 3);
setCookie('data_lead_name', jQuery('.campo-nome').val(), 3);
setCookie('data_lead_email', jQuery('.campo-email').val(), 3);
setCookie('data_lead_ddd', jQuery('.campo-ddd').val(), 3);
setCookie('data_lead_telefone', jQuery('.campo-telefone').val(), 3);
setCookie('data_lead_telefone_com_ddd', "("+jQuery('.campo-ddd').val()+") " + jQuery('.campo-telefone').val(), 3);
function setCookie(name, value, days) {
var d = new Date;
d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
}
}


});


}(window.jQuery || window.jQuery));


            
            
            
</script>
<!-- <script>
$(document).ready(function() {
  $.ajax({
    url: "../contador.json", // Reemplaza "ruta/al/archivo/contador.json" con la ruta correcta hacia el archivo contador.json
    dataType: "json",
    success: function(data) {
      var visitas = data.visitas;
      // Aquí puedes realizar las acciones necesarias con el valor del contador, como mostrarlo en un elemento HTML específico.
      // Por ejemplo:
      var contadorElement = $("#contador");
      contadorElement.text("0"); // Establece el valor inicial en 0
      
      // Realiza la animación del contador desde 0 hasta el valor actual
      contadorElement.animate({ count: visitas }, {
        duration: 2000, // Duración de la animación en milisegundos
        step: function(now) {
          contadorElement.text(Math.floor(now)); // Actualiza el texto del contador en cada paso de la animación
        },
        complete: function() {
          contadorElement.text(visitas); // Establece el valor final del contador después de completar la animación
        }
      });
    }
  });
});
</script>
<script>
    function cambiarValor(valor) {
var input = document.getElementById('Operadora');
input.value = valor;
}

</script> -->

                        

         
             

                    
        