<div>
  <p-card class="card card-product-grid ">
  <div class="bg-image hover-zoom ripple rounded ripple-surface" [ngClass]="product.compare ? 'product compare' : 'product'"> 
    <img *ngIf="product.images && product.images.length > 0" src="{{product.images[0].url}}" alt="{{ product.name }}" class="w-100">
    <!-- <a class="btn-overlay" [routerLink]="['/products', product.id]"><i class="fa fa-search-plus"></i>{{ product.name }}</a> -->
  </div>
  <figcaption class="info-wrap border-top">
    <div class="price-wrap">
    <strong class="price">{{product.name}}</strong>
    </div> <!-- price-wrap.// -->
    <p class="title mb-2"></p>
    <ng-container >      <!-- Contenido a mostrar -->
      <p class="card-text">Precio: ${{ product.precio }}</p> 
    </ng-container>
    <ng-container>
      <p>Detalle</p>
      <ul>
       <li>Valor Plan:{{ product.valorLista }}</li> 
       <li>Promoción - {{ product.promoPorcentaje * 100}} %: {{ product.promoDescuento }}</li> 
        <li>Aporte Obra Social:{{ product.aporteOS }}</li> 
       
      </ul>
    </ng-container>
    
    <button (click)="openDialog(product)" class="btn btn-outline-primary btn-sm mt-2" type="button">Detalles</button>
          <button (click)='toggleCompare();' class="btn btn-outline-primary btn-sm mt-2" type="button">
            {{product.compare ? "Remover" : "Comparar"}}
          </button>
          <!-- <a href="#" class="btn btn-block btn-primary">Add to cart </a> -->
    <!-- <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a> -->
  </figcaption>
  </p-card>
</div> <!-- col end.// -->

    