<div class="services modCTA">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="area_title">
                    <h2>Compara todos tus seguros en Acierto.com</h2>
                </div>
                <ul>
                    <li>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-coche/" title="Seguros de Coche">
                            <div class="icon">
                                <img src="https://img4.acierto.com/css/r/images/icn1.png" width="35" alt="Coche" class="img-responsive">
                            </div>
                            <h3>Seguros de Coche</h3>
                        </a>
                        <a href="https://precios.lasaludestodo.com.ar/comparador.php" title="Comparador de Seguros de Coche" class="base-btn orange-btn ">
            COMPARAR <span class="glyphicon glyphicon-play"></span>
        </a>
                    </li>
                    <li>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-moto/" title="Seguros de Moto">
                            <div class="icon">
                                <img src="https://img1.acierto.com/css/r/images/icn2.png" width="35" alt="Moto" class="img-responsive">
                            </div>
                            <h3>Seguros de Moto</h3>
                        </a>
                        <a href="https://precios.lasaludestodo.com.ar/comparador-seguros-motos.php" title="Comparador de Seguros de Moto" class="base-btn orange-btn ">
            COMPARAR <span class="glyphicon glyphicon-play"></span>
        </a>
                    </li>
                    <li>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-hogar/" title="Seguros de Hogar">
                            <div class="icon">
                                <img src="https://img2.acierto.com/css/r/images/icn3.png" width="35" alt="Vivienda" class="img-responsive">
                            </div>
                            <h3>Seguros de Hogar</h3>
                        </a>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-hogar/comparador/" title="Comparador de Seguros de Hogar" class="base-btn orange-btn ">
            COMPARAR <span class="glyphicon glyphicon-play"></span>
        </a>
                    </li>
                    <li>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-salud/" title="Seguros de Salud">
                            <div class="icon">
                                <img src="https://img3.acierto.com/css/r/images/icn4.png" width="35" alt="Salud" class="img-responsive">
                            </div>
                            <h3>Seguros de Salud</h3>
                        </a>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-salud/comparador/" title="Comparador de Seguros de Salud" class="base-btn orange-btn ">
            COMPARAR <span class="glyphicon glyphicon-play"></span>
        </a>
                    </li>
                    <li>
                        <a href="https://precios.lasaludestodo.com.ar/seguros-vida/" title="Seguros de Vida">
                            <div class="icon">
                                <img src="https://img4.acierto.com/css/r/images/icn5.png" width="35" alt="Vida" class="img-responsive">
                            </div>
                            <h3>Seguros de Vida</h3>
                        </a>
                        <a href="https:://precios.lasaludestodo.com.ar/seguros-vida/comparador/" title="Comparador de Seguros de Vida" class="base-btn orange-btn ">
            COMPARAR <span class="glyphicon glyphicon-play"></span>
        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>