.btn-accent{
    border-radius: 10px;
    float : right ;
    font-size: small;
    color: rgb(250, 248, 248);
    background-color: gray;
    
   }
   .form-group{
    align-items: center;
    align-content: center;
    text-align: center;
    background:  linear-gradient(to bottom, #ff66ff 0%, #66ffff 100%);
    
}
.border{
    background-image: url("https://img.freepik.com/free-vector/gradient-geometric-background_23-2148808998.jpg?size=626&ext=jpg&ga=GA1.2.1379686886.1650446144");
    background-repeat: no-repeat;
    background-size: cover; 
}
main{
    margin-top: 20%;
    display: block;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    
    padding: 48px;
border-radius: 16px;
justify-content: center;
}
address{
    background: linear-gradient(to top right, #ffff66 0%, #66ffff 100%);
}
