
<!-- Owl Carousel CSS -->

      
  
  
    <div class="container d-flex">
        <div class="item active">
            <a (click)="filter('clinicas')">
            <img src="../../../assets/images/iconos/sanatorio.png" alt="">
        </a>
            
          </div>
          <div class="item">
            <a (click)="filter('cobertura')">
    
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
        </a>
           
          </div>
          <div class="item">
            <a (click)="filter('folleto')">
    
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
        </a>
          
          </div>
          <div class="item">
            <a (click)="filter('')">
    
            <img src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
        </a>
            
          </div>
    </div>


  <app-compara *ngIf="showDiv2" [productos]="productos" [clinicasVal]='clinicasVal' [items]='items'></app-compara>

  