
      
  
  
    <div class="container d-flex">
        <div class="item active">
            <a (click)="filter('clinicas')">
            <img src="../../../assets/images/iconos/sanatorio.png" alt="">
        </a>
            
          </div>
          <div class="item">
            <a (click)="filter('cobertura')">
    
            <img src="../../../assets/images/iconos/sanatorio.png" alt="">
        </a>
           
          </div>
          <div class="item">
            <a (click)="filter('folleto')">
    
            <img src="../../../assets/images/iconos/sanatorio.png" alt="">
        </a>
          
          </div>
          <div class="item">
            <a (click)="filter('')">
    
            <img src="../../../assets/images/iconos/sanatorio.png" alt="">
        </a>
            
          </div>
    </div>


  <app-compara *ngIf="showDiv2" [productos]="productos" [clinicasVal]='clinicasVal' [items]='items'></app-compara>

  